.dscvr {
	& .half {
		margin-right: 12px;

		&:last-child {
			margin-right: 0;
		}
	}

	& p i {
		color      : #8a6d3b;
		margin-left: 1px;
	}

	.half {
		//		margin-bottom: 12px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.phone {
	& .dscvr .half {
		margin-right: 0;
	}
}

.dscvr {
	& .phone100vw {
		width: 100%;
	}

	& img {
		width        : auto;
		height       : auto;
		max-width    : 100%;
		max-height   : 500px;
		min-width    : 1px;
		min-height   : 1px;
		margin-top   : auto;
		margin-bottom: auto;
		padding-top  : 10px;
	}
}
