.admin {
	& form {
		& input:first-child {
			margin-bottom: 12px;
		}
	}

	/*& .editImg {
		position  : fixed;
		width     : 100%;
		height    : 100%;
		top       : 0;
		left      : 0;
		background: rgba(0,0,0,0.8);
		z-index   : 1;
	}*/

	& .miniature {
		display       : inline-block;
		vertical-align: top;
		margin        : 12px;
	}

	& .remove {
		position : absolute;
		top      : 5px;
		right    : 5px;
		font-size: 20px;
		width    : 20px;
		height   : 20px;
		color    : red;

		&:before {
			position   : absolute;
			width      : 20px;
			line-height: 20px;
			text-align : center;
		}

		&:hover {
			outline: 1px solid red;
		}
	}

	& .containerImg {
		position: relative;
	}

}	

div[is_paid="0"]{
	background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
}

#listReserv .bigButton{
	margin-top: -14px;
    margin-bottom: 44px;
}