#endDate,
#startDate {
	height        : 52px;
	border        : 1px solid;
	border-radius : 3px;
	flex-grow     : 1;
	margin-right  : 6px;
	text-transform: capitalize;

	&:hover {
		border-color: rgba(59,112,28,.5);
	}

	& i {
		margin-left: 6px;
		margin-top : -10px;

		&:hover {
			color: rgba(59,112,28,.5);
		}
	}

	&:first-child {
		margin-right: 12px;
	}

	& label {
		width          : 100%;
		display        : flex;
		justify-content: flex-start;
		padding-left   : 5px;
		padding-top    : 5px;
		cursor         : pointer;
	}
}

header {
	flex-grow      : 0 !important;
	justify-content: flex-start !important;
}
.checkAvabilityForm {
	flex-grow: 0;
}

.ipad,
.phone {
	& #endDate {
		margin-right: 0;
	}

	& .checkAvabilityForm {
		& > .f-container {
			& > .f-container {
				margin-bottom: 0;
			}
		}

		& .f-container {
			width: 100%;
		}

		& .input,
		button {
			min-width   : 230px;
			margin-top  : 12px;
			margin-left : 0;
			margin-right: 0;
		}

		& button.plus-minus {
			margin-left : 6px;
			margin-right: 6px;
			margin-top  : auto;
		}
	}
}

.checkAvabilityForm {
	& * {
		line-height: 1;
	}

	& > .f-container {
		& > .f-container {
			margin-bottom: 12px;
		}
	}

	& .horaires {
		margin-top: 12px;

		& *:not(span) {
			text-align   : center;
			line-height  : 1.58;
			margin-bottom: 0;
			max-width    : 175px;
			display      : block;
		}
	}

	& .input {
		border         : 1px solid;
		border-radius  : 3px;
		height         : 52px;
		padding        : 0 12px;
		justify-content: center;
		margin-left    : 6px;
		margin-right   : 6px;
		text-transform : capitalize;

		& label {
			margin-right: 6px;
		}

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			border-color: rgba(59,112,28,.5);
		}

		& input,
		label {
			height        : 30px;
			font-size     : 25px;
			text-align    : center;
			border        : none;
			background    : none;
			box-shadow    : none;
			pointer-events: none;
			cursor        : default;
		}

		& label {
			height   : 15px;
			/*ie*/
			font-size: 15px;
		}

		& button {
			line-height: 1.65;
			height     : 22px;
		}
	}

	& button {
		font-size  : 16px;
		max-width  : 400px;
		margin-left: 12px;
		margin-top : 0;

		&:hover {
			border-color: rgba(59,112,28,.5);
		}

		&.plus-minus {
			min-width      : 20px;
			max-width      : 20px;
			height         : 20px;
			display        : flex;
			justify-content: center;
			align-items    : center;
			border         : none;
			background     : none;
			margin-left    : 0;
			margin-top     : auto;

			& i {
				font-size  : 20px; //				margin-top : -5px;
				margin-left: 1px;

				&:hover {
					color: rgba(59,112,28,.5);
				}
			}
		}
	}
}

.wc-date-popover {
	& * {
		text-align : initial;
		color      : initial;
		line-height: auto;
		font-weight: initial;
		font-style : initial;
		color      : $primaryRed;
	}

	& .wc-details {
		display        : flex;
		align-items    : center;
		justify-content: center;

		& i {
			font-size: 30px;

			&:last-child:before {
				float     : right;
				margin-top: 2px;
			}
		}

		& div {
			text-align: center;
		}
	}

	& .selected-day > span,
	& .wc-banner,
	& .wc-details {
		background: $secondaryGreed;
	}

	& .today span {
		border-color: $primaryRed;
	}

	& .wc-banner *,
	& .wc-details * {
		color: #eeffe4;
	}

	& .calendar-days td:hover > span {
		background: $ternaryGreen;
		color     : $primaryRed;
	}

	& .calendar-day span,
	& .calendar-header td,
	& .wc-banner div {
		text-align: center;
	}
}

.phone {
	& .wc-date-popover {
		width         : 100vw;
		height        : 100vh;
		top           : 0;
		left          : 0;
		overflow-y    : auto;
		padding-bottom: 90px;

		& .wc-day-row {
			display: none;
		}

		& .wc-date-row {
			font-size: 75px;
		}
	}
}
