.book-validation {
	& .reservation-state {
		position       : fixed;
		left           : 0;
		bottom         : 0;
		right          : 0;
		margin         : auto 0 0;
		width          : 100%;
		background     : white;
		box-shadow     : rgba(0, 0, 0, 0.117647) 0 1px 6px, rgba(0, 0, 0, 0.117647) 0 1px 4px;
		padding        : 20px;
		z-index        : 25;
		flex-direction : row;
		justify-content: space-around;

		& * {
			color: $primaryRed;
		}

		& i {
			min-width: 47px;
			font-size: 30px;
		}

		& > div {
			min-height     : 47px;
			flex-grow      : 0;
			justify-content: space-between;
		}

		& .big-value {
			height   : 33px;
			font-size: 20px;
		}

		& #nbPersRes {
			display      : inline-block;
			font-weight  : 900;
			border       : 1px solid $secondaryGreed;
			border-radius: 100%;
			border-radius: 5px;
			padding      : 0 7px 0 6px;
			margin-left  : 6px;
			cursor       : pointer;
			width        : 33px;
			text-align   : center;
		}

		& .js-priceBookEstimation {
			margin-left: 6px;
		}
	}

	& .roomPres {
		font-size     : 30px;
		background    : $ternaryGreen;
		border-radius : 5px;
		//height        : 200px;
		margin-top    : 20px;
		padding-top   : 12px;
		padding-bottom: 12px;
		cursor        : pointer;

		& * {
		//	pointer-events: none;
		}

		& > div.f-container {
			min-width: 100px;
		}

		&:hover {
			outline      : dashed 3px $secondaryGreed;
			border-radius: 0;
		}

		&.selected {
			outline      : solid 3px $secondaryGreed;
			border-radius: 0;
		}

		& i {
			margin-right: 12px;
		}

		& .room-num {
			width        : 47px;
			font-weight  : 900;
			border       : 1px solid $secondaryGreed;
			border-radius: 100%;
			border-radius: 5px;
			//padding      : 0 7px 0 6px;
			text-align   : center;
			display      : inline-block;
		}

		& .room-img-container {
			max-width: 250px;
			padding  : 6px;

			& .pic-unavailable {
				background   : white;
				color        : grey;
				border       : 1px dashed;
				border-radius: 3px;
				height       : 100px;
				padding      : 6px;
				text-align   : center;
				font-size    : 20px;
			}

			& img {
				// width: 100%;
				//float: right;
			}
		}
	}

	& h1 {
		margin-top: 20px;
		width     : 100%;

		& span {
			text-align: center !important;
			width     : 100%;
			display   : block;
		}
	}

	& #bookValidation {
		margin-top  : 42px;
		max-width   : 300px;
		margin-left : auto;
		margin-right: auto;

		& label {
			text-transform: capitalize;
		}

		& .bigBlockError {
			margin-bottom: 60px;
		}
	}
}

.phone {
	.book-validation {
		& .reservation-state {
			padding       : 0;
			flex-direction: column;

			& > div {
				margin   : 0 20px;
				max-width: auto;

				& > *:nth-child(2) {
					margin-right: auto;
				}
			}
		}
	}
}

body.touchScreen .book-validation .roomPres:not(.selected):hover {
	outline: none;
}
