.backgroundCenter {
	height  : 635px;
	overflow: hidden;
	position: relative;
}

.carroussel_v3 {
	& > .carouselParent{
		height  : 335px;
		& > .carousel{
			height: 100%;
			& > .realImgContainer{
				height: 100%;
				& > .largeContainerParent{
					height: 100%;
					& > .largeContainer{
						height: 100%;
						& .containerImg{
							height: 215px;
							& > #realImg{
								height: 100%;
							}
						}
					}
				}
			}
		}
	}
}

.transparent {
	background: transparent;
}

#bottomMini {
	display    : block;
	margin-top : 0;
	position: absolute;
	top: 50px;
	left:0;
	padding:10px;
	width      : 100px;
	min-width  : 100%;
	max-width  : 100%;
	overflow   : hidden;
	margin-top : calc(-4.91% - 6px);
	padding-top: 10px;

	& .miniatures {
		display: flex;
	}
	z-index    : 23;
}


.carouselParent {
	.carousel {
		position: absolute;
		/*max-width:1024px;*/
		left    : 0;
		top     : 100px;
	}

	& .miniature {
		max-width : 100px;
		max-height: 50px;
		width     : auto;
		height    : auto;
		cursor    : pointer;
	}


	& .largeContainer .containerImg {
		text-align: center;
		position  : relative;
	}


	& .widthContent,
	&.widthContent {
		// FIXME : was "& widthContent", not  "& .widthContent"
		overflow-x: hidden;
	}

	& .buttonCarousel {
		position : absolute;
		left     : 50%;
			top: 0;

		transform: translate(-50%,0);
		height   : 100%;
	}

	& #realImg {
		max-width: 100%;
		height   : 500px;
		width    : auto;
		margin   : auto;
		left     : 50%;
		top      : 0;
	}

	.largeContainerParent .js-container-img.containerImg.clientW > span {
		position  : absolute;
		width     : 100%;
		text-align: center;
		bottom    : 9px;
		right     : 0;
		height    : 25px;

		& > span {
			color     : white;
			height    : 150%;
			padding   : 6px 10px;
			background: #000;
			/*background: -moz-linear-gradient(top, transparent 0%, #000 100%);
			background: -webkit-linear-gradient(top, transparent 0%,#000 100%);
			background: linear-gradient(to bottom, transparent 0%,#000 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  'transparent', endColorstr='#000000',GradientType=0 );*/
			background: rgba(0, 0, 0, 0.51);
			border-top-left-radius: 23px;
    		border-top-right-radius: 23px;
		}
	}

	& .prev {
		left  : 0;
		top   : 50%;
		margin: -10px 20px 0;
	}

	& .next {
		right : 0;
		top   : 50%;
		margin: -10px 7px 0;
	}

	& .buttonCarousel img {
		opacity: 0;
	}

	& .next,
	& .prev {
		position     : absolute;
		background   : $primaryRed;
		border-radius: 100%;
		width        : 40px;
		display      : flex;

		& i {
			font-size   : 40px;
			color       : #fcfadf;
			margin-left : auto;
			margin-right: auto;
			display     : flex;
		}
	}

	& .realImgContainer {
		/*        text-align: center;
*/
		max-width : 5000px;
		/*width: 500px;*/
		overflow-x: hidden;
		overflow-y: hidden;
		position  : relative;
		/*height    : 340px;*/
	}

	& .largeContainer,
	& .largeContainerParent {
		width: 5000000000000px;
	}

	& .largeContainer.anim {
		transition: all 1s ease 0s;
	}

/*	& .miniatures div:last-child {
		display: none !important;
	}*/

	& {
		/*margin-top: 43px;*/
	}

	&.containerImg {
		margin-bottom: 20px;
	}

	& .largeContainer .containerImg,
	& .miniatures,
	& .realImgContainer {
		/* width:calc(100vw - 0px)*/
	}

	& .miniaturesBottom {
		overflow  : auto;
		overflow-y: hidden;
		width     : 100%;
		height    : 68px;
		padding-left: 16px;
		padding-right: 16px;
	}
}

.carroussel_v3 .carouselParent{
	& .miniature {
		max-width : 100px;
		max-height: 90px;
	}
}

.phone #bottomMini {
	margin-top: -60px;
}

.ipad #bottomMini {
	margin-top: -60px;
}

.cinema #bottomMini {
	margin-top: -71px;
}

.pc {
	& #bottomMini {
		margin-top: -66px;
	}
}
