.f-container {
	& > * {
		&:not(script, p, style,.notFlex) {
			@include flexbox
		}
		margin-top   : auto;
		margin-bottom: auto;
	}
	@include flexbox;
	@include flex-grow(1);
	@include justify-content(center);
	@include align-content(stretch);
	width: auto;

	&.column {
		@include flex-direction(column);
	}

	&.row {
		@include flex-direction(row);
	}

	&.top {
		@include flex-direction(column);
		@include justify-content(flex-start);
	}

	&.start {
		@include align-items(flex-start);
	}
	&.left {
		@include align-items(flex-start);
	}


	&.wrap {
		@include flex-wrap(wrap)
	}

	&.fill {
		width: 100%;
	}

	&.not-grow {
		flex-grow  : 0;
		flex-shrink: 0;
	}
}

.initFlex{
	flex:0;
	& *{
		display: inline-block;
	}
}
.flex {
	@include flexbox;
}

.space-around {
	@include justify-content(space-around);
}

.space-between {
	@include justify-content(space-between);
}

.ul {
	@include align-items(center);
	height: auto;
}
$paper-shaddow: rgba(0, 0, 0, 0.117647) 0 1px 6px, rgba(0, 0, 0, 0.117647) 0 1px 4px;

#bodyContent {
	padding: 25px 0;
}

.page-content {
	@include flex-grow(1);
	text-align   : justify;
	max-width    : 1024px;
	background   : rgba(255,255,226, .9);
	border-radius: 3px;
	margin       : auto;
	padding      : 55px;
	margin-bottom: 25px;

	&.last:last-child {
		// margin-bottom: 0;
	}

	& section:not(:last-child) {
		margin-bottom: 20px;
	}

	&:after {
		content      : "";
		width        : 85%;
		height       : 1px;
		border-radius: 2px;
		background   : $primaryRed;
		align-self   : center;
		transform    : translateY(67px);
		opacity      : 0.5;
		z-index      : 0;
	}

	&:last-child:after {
		display: none;
	}

	&:first-child:last-child:after {
		display: none;
	}

	&:first-child:last-child:before {
		content      : "";
		width        : 85%;
		height       : 1px;
		border-radius: 2px;
		background   : $primaryRed;
		align-self   : center;
		transform    : translateY(-67px);
		display      : none;
	}

	& ul {
		margin-left   : 19px;
		flex-direction: column;
	}
}

.ipad,
.phone {
	& #bodyContent {
		padding: 0;
	}

	& .page-content {
		padding      : 20px;
		/*padding      : 2.9vh; ie bug de superposition*/
		margin-bottom: 0;

		&:after {
			transform: translateY(20px);
		}

		&:first-child:last-child:after,
		&:first-child:last-child:before {
			display: none;
		}
	}
}

.phone {
	& .page-content {
		border-radius: 0;
		padding-left : 12px;
		padding-right: 12px;
		/*width        : 100vw;*/
	}
}

.ipad,
.phone {
	& .page-content * {
		& h1 {
			font-size : 1.5em;
			text-align: initial;
		}
	}
}

.page-content * {
	color         : $primaryGreen;
	letter-spacing: 0.01rem;
	font-weight   : 600;
	// font-style    : normal;
	line-height   : 1.58;
	letter-spacing: -.003em;

	& span {
		color: inherit;
	}

	& h1 {
		font-size    : 1.5em;
		margin-bottom: 20px !important;
	}
}

.reload {
	margin: 0;
}

.phone {
	& .phone100vw {
		margin-left: -12px;
		/** il y a un bug etrange on doit mettre une fake width et un min et max width*/
		width      : 100px !important;
		min-width  : calc(100% + 2 * 12px) !important;
		max-width  : calc(100% + 2 * 12px) !important;
	}
}

.ipad {
	& .ipad100vw {
		margin-left: -18px;
		width      : 100px !important;
		min-width  : calc(100% + 2 * 18px) !important;
		max-width  : calc(100% + 2 * 18px) !important;
	}
}
