@charset "UTF-8";
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto-Regular"), url("../fonts/Roboto.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
.pointer {
  cursor: pointer; }

.opacity0 {
  opacity: 0; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #9a2f26; }
  * .bigBlockError {
    margin-bottom: 4px; }
    * .bigBlockError span {
      color: #9a2f26; }

img {
  flex: 0 0 auto;
  /* 2 */ }

.imgP {
  align-items: flex-start;
  margin-top: -20px; }
  .imgP img, .imgP img.f-container {
    margin-top: 20px; }

.imgP.f-container {
  margin-top: -20px; }

span[data-trad="moreInfo"] {
  transform: translateY(-8px);
  display: block; }

.cinema .wc-date-popover,
.pc .wc-date-popover {
  width: 250px;
  position: absolute;
  top: -147px; }

.f-container .bigBlockError {
  width: 100%;
  font-size: 14px;
  background: rgba(154, 47, 38, 0.19);
  border: #9a2f26 1px solid;
  border-radius: 4px;
  padding: 2px;
  margin-bottom: 4px; }
  .f-container .bigBlockError span {
    color: #9a2f26;
    padding: 0 4px; }
    .f-container .bigBlockError span:before {
      content: "";
      font: normal normal normal 14px/1 FontAwesome; }

*:focus {
  outline: none; }

header li.active * {
  color: #36631c; }

p:not(:last-child) {
  margin-bottom: 20px !important; }

button,
label {
  user-select: none;
  -webkit-user-select: none; }

.justify-start {
  justify-content: flex-start !important; }

body,
html {
  height: 100%;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  font-size: 16px; }

body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

.touchScreen {
  cursor: pointer; }

.lineTitle {
  height: 39px; }

.fakeBody {
  min-width: 320px;
  position: relative;
  height: 100%;
  overflow: auto;
  width: 100%; }
  .fakeBody, .fakeBody * {
    font-family: 'Lato', sans-serif; }
  .fakeBody h1, .fakeBody h2,
  .fakeBody h1 > span,
  .fakeBody h2 > span {
    font-family: 'Josefin Sans', sans-serif;
    color: #264812; }
  .fakeBody h2 {
    margin-bottom: 12px; }

body:not(.forcePhonePc) {
  overflow-x: hidden; }

body:not(.forcePhonePc) #fakeBody {
  overflow-x: hidden;
  /*for ie11-*/ }

.flex-start {
  align-items: flex-start !important;
  justify-content: flex-start !important; }

.fill {
  width: 100%; }

.fill2 {
  width: calc(100% - 25px); }

#header-and-content {
  min-height: calc(100% - 132px); }

body .pcToPhoneParent {
  display: none;
  /*margin-left:12px;*/ }

body.forcePhonePc .pcToPhoneParent, body.phone .pcToPhoneParent, body.ipad .pcToPhoneParent {
  display: flex; }

body.forcePhonePc.pc #fakeBody {
  width: 1080px;
  max-width: 1080px; }

#eee {
  display: none; }

#progressbar {
  position: absolute;
  z-index: 99999;
  top: 0;
  left: 0;
  height: 3px;
  width: 100%; }
  #progressbar > svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }

.pointer {
  cursor: pointer; }

#ajaxContent {
  padding-top: 0; }

.menuBar {
  background: black;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99; }

/*******************/
/* menu icon transition */
#menuBlock {
  cursor: pointer;
  position: absolute;
  width: 92px;
  height: 30px;
  top: 0;
  right: 0; }

#nav-icon2 {
  width: 20px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  position: absolute;
  top: 6px;
  right: 7px; }

.open #nav-icon2 {
  width: 30px; }

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 50%;
  background: white;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out; }

.open #nav-icon2 span {
  height: 4px; }

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0; }

#nav-icon2 span:nth-child(odd) {
  left: 0;
  border-radius: 9px 0 0 9px; }

#nav-icon2 span:nth-child(1),
#nav-icon2 span:nth-child(2) {
  top: 0; }

#nav-icon2 span:nth-child(3),
#nav-icon2 span:nth-child(4) {
  top: 7px; }

#nav-icon2 span:nth-child(5),
#nav-icon2 span:nth-child(6) {
  top: 14px; }

.open #nav-icon2 span:nth-child(1),
.open #nav-icon2 span:nth-child(2) {
  top: 0; }

.open #nav-icon2 span:nth-child(3),
.open #nav-icon2 span:nth-child(4) {
  top: 6px; }

.open #nav-icon2 span:nth-child(5),
.open #nav-icon2 span:nth-child(6) {
  top: 10px; }

.open #nav-icon2 span:nth-child(1),
.open #nav-icon2 span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.open #nav-icon2 span:nth-child(2),
.open #nav-icon2 span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.open #nav-icon2 span:nth-child(1),
.open #nav-icon2 span:nth-child(5) {
  left: 8px; }

.open #nav-icon2 span:nth-child(2),
.open #nav-icon2 span:nth-child(6) {
  left: calc(50% + 1px); }

.open #nav-icon2 span:nth-child(1),
.open #nav-icon2 span:nth-child(2) {
  top: 2px; }

.open #nav-icon2 span:nth-child(3) {
  left: -50%;
  opacity: 0; }

.open #nav-icon2 span:nth-child(4) {
  left: 100%;
  opacity: 0; }

/*****/
/*.reload {
	-webkit-transition: 0.25s ease-in-out;
	transition        : 0.25s ease-in-out;
	-webkit-transform : rotate(359deg);
	transform         : rotate(359deg);
}

.spin {
	-webkit-animation: spin 0.5s infinite linear;
	animation        : spin 0.5s infinite linear;
}*/
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
#menuHelp {
  color: white;
  position: absolute;
  right: 35px;
  top: 5px;
  font-size: 17px;
  font-family: Arial;
  font-weight: bold;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: matrix(1.06, 1.84, 0.54, 2.8, 466px, 482px);
  transform: matrix(1.06, 1.84, 0.54, 2.8, 466px, 482px); }

/* unvisited link */
.menuBar a, .menuBar a:active, .menuBar a:hover, .menuBar a:link, .menuBar a:visited {
  color: white;
  text-decoration: none;
  display: block; }

.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#menuFullScreen {
  display: none;
  max-height: 100%;
  max-width: 100%;
  top: 29px;
  right: 0;
  position: absolute;
  text-align: center;
  color: white;
  font-family: Arial;
  font-weight: bold;
  cursor: pointer; }
  #menuFullScreen li {
    background: #323232; }

.open #menuFullScreen {
  display: block; }

#menuFullScreen li {
  border: solid 1px transparent;
  height: 30px;
  line-height: 30px; }

#menuFullScreen a {
  padding-right: 20px;
  padding-left: 20px; }

#menuFullScreen li:hover {
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  background: grey; }

#menuFullScreen,
#menuFullScreen ul {
  list-style: none; }

.hide {
  display: none !important; }

.error {
  display: block;
  color: red; }

.success {
  display: block;
  color: green; }

body {
  font-family: 'Roboto',sans-serif; }

* {
  box-sizing: border-box; }

#cuppaDatePicker,
#cuppaDatePickerContainer {
  width: 250px;
  text-align: center;
  margin: 0 auto; }

.wc-date-container {
  float: left;
  width: 100%;
  height: 30px;
  border: 1px solid #FF2D55;
  margin-bottom: 1px;
  font-size: 16px;
  padding: 5px;
  text-align: left;
  cursor: pointer;
  line-height: 20px; }

.wc-date-container > i {
  float: right;
  font-size: 20px; }

.winkel-calendar {
  position: relative; }

.wc-date-popover {
  font-size: 14px;
  box-shadow: 0 7px 23px 0 #e7e7e7;
  margin: 0 auto;
  perspective: 1000px;
  float: left;
  background: #fff;
  border: 1px solid #FF2D55;
  position: fixed;
  width: calc(100% - 30px);
  top: 15px;
  left: 15px;
  z-index: 9999;
  overflow: hidden;
  height: calc(100% - 30px); }

.wc-banner {
  /* background: #3ce5ed; */
  float: left;
  width: 100%;
  margin-bottom: 5px;
  background: #e6173e; }

.wc-day-row {
  padding: 10px 0;
  background: rgba(0, 0, 0, 0.09);
  color: #fff;
  width: 100%;
  float: left;
  font-size: 18px; }

.wc-date-row {
  display: inline-block;
  font-size: 85px;
  color: #fff;
  padding: 10px 5px;
  width: 50%;
  float: left;
  text-align: right;
  font-weight: 200;
  line-height: 100px; }

.wc-month-row {
  padding: 16px 0 0;
  font-size: 35px;
  color: #fff;
  width: 100%;
  float: left; }

.wc-month-row > div,
.wc-year-row > div {
  cursor: pointer; }

.wc-year-row {
  text-align: left;
  color: #fff;
  font-size: 24px;
  float: left;
  width: 100%; }

.wc-my-sec {
  display: inline-block;
  padding: 10px;
  float: left;
  width: 50%;
  font-weight: 300; }

.wc-month-row > div:nth-child(1),
.wc-year-row > div:nth-child(1) {
  float: left;
  text-align: left;
  line-height: 37px; }

.wc-month-controls > .fa:hover,
.wc-year-controls > .fa:hover {
  color: #fff; }

.wc-details > .fa:hover {
  color: #ccc; }

.wc-month-controls {
  padding: 5px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.71);
  float: right; }

.wc-year-controls {
  padding: 2px 5px 0;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.71);
  float: right; }

.wc-month-controls > .fa,
.wc-year-controls > .fa {
  cursor: pointer;
  padding: 0 4px; }

.wc-details {
  float: left;
  width: 100%;
  padding: 10px 0;
  color: #fff;
  background: #e6173e; }

.banner-true > .wc-details {
  padding: 0 0 10px; }

.wc-prev {
  float: left;
  width: 25%;
  text-align: left;
  padding: 0 15px;
  cursor: pointer;
  font-size: 35px; }

.month-year {
  float: left;
  width: 50%;
  font-size: 18px;
  line-height: 35px; }

.wc-next {
  float: right;
  width: 25%;
  text-align: right;
  padding: 0 15px;
  cursor: pointer;
  font-size: 35px; }

.calendar-days {
  color: #07c;
  height: 200px;
  background: #fff; }

.today > span {
  border: 1px solid #FF2D55;
  background: none;
  border-radius: 50px; }

.selected-day > span {
  /*background: #3ce5ed;*/
  background: #e6173e;
  color: #fff;
  border-radius: 50px; }

.calendar-header {
  background: #fff; }

.calendar-days td {
  cursor: pointer; }

.calendar-days td:hover > span {
  background: #FF2D55;
  color: #fff;
  border-radius: 50px; }

.winkel-calendar table {
  width: 100%;
  text-align: center;
  font-size: 18px;
  border-collapse: collapse; }

.winkel-calendar table td {
  padding: 0;
  width: calc((100%)/7);
  text-align: center;
  transition: all 0.1s linear; }

.winkel-calendar table td span {
  display: block;
  padding: 6px;
  margin: 0;
  line-height: 32px;
  border-radius: 63px; }

.calendar-header td {
  padding: 15px 0 !important; }

.months-view,
.years-view {
  background: #fff;
  position: absolute;
  width: 100%;
  top: 210px;
  width: 100%;
  height: calc(100% - 210px);
  bottom: 0; }

.years-list-view {
  float: left;
  width: calc(100% - 60px);
  height: 100%; }

.months-view > span,
.years-list-view > span {
  display: inline-block;
  width: 25%;
  padding: 25px 0;
  cursor: pointer;
  font-size: 16px; }

.years-list-view > span {
  width: 33.3333%; }

.years-view > .next,
.years-view > .prev {
  float: left;
  width: 30px;
  padding: 85px 0;
  cursor: pointer;
  font-size: 52px; }

.years-view > .next:hover,
.years-view > .prev:hover {
  color: #ccc; }

.years-view > .next {
  float: right; }

.current-month,
.current-year {
  color: #FF2D55; }

.years-view > span {
  width: 33.3333%; }

.months-view > span:hover,
.years-list-view > span:hover {
  color: #FF2D55; }

.banner-true {
  padding-top: 0 !important;
  border: none !important; }

.banner-true > .wc-banner {
  margin-bottom: 0 !important; }

.methods {
  clear: left;
  padding: 50px 0;
  text-align: center; }

@media (min-width: 768px) {
  .wc-date-popover {
    width: 250px;
    position: absolute;
    top: 31px;
    height: auto;
    left: 0; }

  .wc-day-row {
    padding: 5px 0;
    font-size: 14px; }

  .wc-date-row {
    font-size: 62px;
    line-height: 65px;
    padding: 5px; }

  .wc-my-sec {
    padding: 5px 10px; }

  .wc-month-row {
    padding: 6px 0 0;
    font-size: 21px; }

  .wc-year-row {
    font-size: 16px; }

  .month-year {
    font-size: 14px;
    line-height: 20px; }

  .wc-month-row > div:nth-child(1),
  .wc-year-row > div:nth-child(1) {
    line-height: 28px; }

  .wc-next,
  .wc-prev {
    font-size: 18px; }

  .wc-details {
    padding: 10px 0; }

  .calendar-header td {
    padding: 10px 0 !important; }

  .winkel-calendar table {
    font-size: 14px; }

  .winkel-calendar table td span {
    line-height: 24px;
    width: 35px;
    height: 35px; }

  .months-view,
  .years-view {
    top: 134px;
    width: 100%;
    height: calc(100% - 134px); } }
/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-fw {
  width: 1.28571429em;
  text-align: center; }

.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none; }

.fa-ul > li {
  position: relative; }

.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center; }

.fa-li.fa-lg {
  left: -1.85714286em; }

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em; }

.fa-pull-left {
  float: left; }

.fa-pull-right {
  float: right; }

.fa.fa-pull-left {
  margin-right: .3em; }

.fa.fa-pull-right {
  margin-left: .3em; }

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right; }

.pull-left {
  float: left; }

.fa.pull-left {
  margin-right: .3em; }

.fa.pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none; }

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.fa-stack-1x,
.fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #ffffff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: "\f000"; }

.fa-music:before {
  content: "\f001"; }

.fa-search:before {
  content: "\f002"; }

.fa-envelope-o:before {
  content: "\f003"; }

.fa-heart:before {
  content: "\f004"; }

.fa-star:before {
  content: "\f005"; }

.fa-star-o:before {
  content: "\f006"; }

.fa-user:before {
  content: "\f007"; }

.fa-film:before {
  content: "\f008"; }

.fa-th-large:before {
  content: "\f009"; }

.fa-th:before {
  content: "\f00a"; }

.fa-th-list:before {
  content: "\f00b"; }

.fa-check:before {
  content: "\f00c"; }

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: "\f00d"; }

.fa-search-plus:before {
  content: "\f00e"; }

.fa-search-minus:before {
  content: "\f010"; }

.fa-power-off:before {
  content: "\f011"; }

.fa-signal:before {
  content: "\f012"; }

.fa-gear:before,
.fa-cog:before {
  content: "\f013"; }

.fa-trash-o:before {
  content: "\f014"; }

.fa-home:before {
  content: "\f015"; }

.fa-file-o:before {
  content: "\f016"; }

.fa-clock-o:before {
  content: "\f017"; }

.fa-road:before {
  content: "\f018"; }

.fa-download:before {
  content: "\f019"; }

.fa-arrow-circle-o-down:before {
  content: "\f01a"; }

.fa-arrow-circle-o-up:before {
  content: "\f01b"; }

.fa-inbox:before {
  content: "\f01c"; }

.fa-play-circle-o:before {
  content: "\f01d"; }

.fa-rotate-right:before,
.fa-repeat:before {
  content: "\f01e"; }

.fa-refresh:before {
  content: "\f021"; }

.fa-list-alt:before {
  content: "\f022"; }

.fa-lock:before {
  content: "\f023"; }

.fa-flag:before {
  content: "\f024"; }

.fa-headphones:before {
  content: "\f025"; }

.fa-volume-off:before {
  content: "\f026"; }

.fa-volume-down:before {
  content: "\f027"; }

.fa-volume-up:before {
  content: "\f028"; }

.fa-qrcode:before {
  content: "\f029"; }

.fa-barcode:before {
  content: "\f02a"; }

.fa-tag:before {
  content: "\f02b"; }

.fa-tags:before {
  content: "\f02c"; }

.fa-book:before {
  content: "\f02d"; }

.fa-bookmark:before {
  content: "\f02e"; }

.fa-print:before {
  content: "\f02f"; }

.fa-camera:before {
  content: "\f030"; }

.fa-font:before {
  content: "\f031"; }

.fa-bold:before {
  content: "\f032"; }

.fa-italic:before {
  content: "\f033"; }

.fa-text-height:before {
  content: "\f034"; }

.fa-text-width:before {
  content: "\f035"; }

.fa-align-left:before {
  content: "\f036"; }

.fa-align-center:before {
  content: "\f037"; }

.fa-align-right:before {
  content: "\f038"; }

.fa-align-justify:before {
  content: "\f039"; }

.fa-list:before {
  content: "\f03a"; }

.fa-dedent:before,
.fa-outdent:before {
  content: "\f03b"; }

.fa-indent:before {
  content: "\f03c"; }

.fa-video-camera:before {
  content: "\f03d"; }

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: "\f03e"; }

.fa-pencil:before {
  content: "\f040"; }

.fa-map-marker:before {
  content: "\f041"; }

.fa-adjust:before {
  content: "\f042"; }

.fa-tint:before {
  content: "\f043"; }

.fa-edit:before,
.fa-pencil-square-o:before {
  content: "\f044"; }

.fa-share-square-o:before {
  content: "\f045"; }

.fa-check-square-o:before {
  content: "\f046"; }

.fa-arrows:before {
  content: "\f047"; }

.fa-step-backward:before {
  content: "\f048"; }

.fa-fast-backward:before {
  content: "\f049"; }

.fa-backward:before {
  content: "\f04a"; }

.fa-play:before {
  content: "\f04b"; }

.fa-pause:before {
  content: "\f04c"; }

.fa-stop:before {
  content: "\f04d"; }

.fa-forward:before {
  content: "\f04e"; }

.fa-fast-forward:before {
  content: "\f050"; }

.fa-step-forward:before {
  content: "\f051"; }

.fa-eject:before {
  content: "\f052"; }

.fa-chevron-left:before {
  content: "\f053"; }

.fa-chevron-right:before {
  content: "\f054"; }

.fa-plus-circle:before {
  content: "\f055"; }

.fa-minus-circle:before {
  content: "\f056"; }

.fa-times-circle:before {
  content: "\f057"; }

.fa-check-circle:before {
  content: "\f058"; }

.fa-question-circle:before {
  content: "\f059"; }

.fa-info-circle:before {
  content: "\f05a"; }

.fa-crosshairs:before {
  content: "\f05b"; }

.fa-times-circle-o:before {
  content: "\f05c"; }

.fa-check-circle-o:before {
  content: "\f05d"; }

.fa-ban:before {
  content: "\f05e"; }

.fa-arrow-left:before {
  content: "\f060"; }

.fa-arrow-right:before {
  content: "\f061"; }

.fa-arrow-up:before {
  content: "\f062"; }

.fa-arrow-down:before {
  content: "\f063"; }

.fa-mail-forward:before,
.fa-share:before {
  content: "\f064"; }

.fa-expand:before {
  content: "\f065"; }

.fa-compress:before {
  content: "\f066"; }

.fa-plus:before {
  content: "\f067"; }

.fa-minus:before {
  content: "\f068"; }

.fa-asterisk:before {
  content: "\f069"; }

.fa-exclamation-circle:before {
  content: "\f06a"; }

.fa-gift:before {
  content: "\f06b"; }

.fa-leaf:before {
  content: "\f06c"; }

.fa-fire:before {
  content: "\f06d"; }

.fa-eye:before {
  content: "\f06e"; }

.fa-eye-slash:before {
  content: "\f070"; }

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: "\f071"; }

.fa-plane:before {
  content: "\f072"; }

.fa-calendar:before {
  content: "\f073"; }

.fa-random:before {
  content: "\f074"; }

.fa-comment:before {
  content: "\f075"; }

.fa-magnet:before {
  content: "\f076"; }

.fa-chevron-up:before {
  content: "\f077"; }

.fa-chevron-down:before {
  content: "\f078"; }

.fa-retweet:before {
  content: "\f079"; }

.fa-shopping-cart:before {
  content: "\f07a"; }

.fa-folder:before {
  content: "\f07b"; }

.fa-folder-open:before {
  content: "\f07c"; }

.fa-arrows-v:before {
  content: "\f07d"; }

.fa-arrows-h:before {
  content: "\f07e"; }

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: "\f080"; }

.fa-twitter-square:before {
  content: "\f081"; }

.fa-facebook-square:before {
  content: "\f082"; }

.fa-camera-retro:before {
  content: "\f083"; }

.fa-key:before {
  content: "\f084"; }

.fa-gears:before,
.fa-cogs:before {
  content: "\f085"; }

.fa-comments:before {
  content: "\f086"; }

.fa-thumbs-o-up:before {
  content: "\f087"; }

.fa-thumbs-o-down:before {
  content: "\f088"; }

.fa-star-half:before {
  content: "\f089"; }

.fa-heart-o:before {
  content: "\f08a"; }

.fa-sign-out:before {
  content: "\f08b"; }

.fa-linkedin-square:before {
  content: "\f08c"; }

.fa-thumb-tack:before {
  content: "\f08d"; }

.fa-external-link:before {
  content: "\f08e"; }

.fa-sign-in:before {
  content: "\f090"; }

.fa-trophy:before {
  content: "\f091"; }

.fa-github-square:before {
  content: "\f092"; }

.fa-upload:before {
  content: "\f093"; }

.fa-lemon-o:before {
  content: "\f094"; }

.fa-phone:before {
  content: "\f095"; }

.fa-square-o:before {
  content: "\f096"; }

.fa-bookmark-o:before {
  content: "\f097"; }

.fa-phone-square:before {
  content: "\f098"; }

.fa-twitter:before {
  content: "\f099"; }

.fa-facebook-f:before,
.fa-facebook:before {
  content: "\f09a"; }

.fa-github:before {
  content: "\f09b"; }

.fa-unlock:before {
  content: "\f09c"; }

.fa-credit-card:before {
  content: "\f09d"; }

.fa-feed:before,
.fa-rss:before {
  content: "\f09e"; }

.fa-hdd-o:before {
  content: "\f0a0"; }

.fa-bullhorn:before {
  content: "\f0a1"; }

.fa-bell:before {
  content: "\f0f3"; }

.fa-certificate:before {
  content: "\f0a3"; }

.fa-hand-o-right:before {
  content: "\f0a4"; }

.fa-hand-o-left:before {
  content: "\f0a5"; }

.fa-hand-o-up:before {
  content: "\f0a6"; }

.fa-hand-o-down:before {
  content: "\f0a7"; }

.fa-arrow-circle-left:before {
  content: "\f0a8"; }

.fa-arrow-circle-right:before {
  content: "\f0a9"; }

.fa-arrow-circle-up:before {
  content: "\f0aa"; }

.fa-arrow-circle-down:before {
  content: "\f0ab"; }

.fa-globe:before {
  content: "\f0ac"; }

.fa-wrench:before {
  content: "\f0ad"; }

.fa-tasks:before {
  content: "\f0ae"; }

.fa-filter:before {
  content: "\f0b0"; }

.fa-briefcase:before {
  content: "\f0b1"; }

.fa-arrows-alt:before {
  content: "\f0b2"; }

.fa-group:before,
.fa-users:before {
  content: "\f0c0"; }

.fa-chain:before,
.fa-link:before {
  content: "\f0c1"; }

.fa-cloud:before {
  content: "\f0c2"; }

.fa-flask:before {
  content: "\f0c3"; }

.fa-cut:before,
.fa-scissors:before {
  content: "\f0c4"; }

.fa-copy:before,
.fa-files-o:before {
  content: "\f0c5"; }

.fa-paperclip:before {
  content: "\f0c6"; }

.fa-save:before,
.fa-floppy-o:before {
  content: "\f0c7"; }

.fa-square:before {
  content: "\f0c8"; }

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "\f0c9"; }

.fa-list-ul:before {
  content: "\f0ca"; }

.fa-list-ol:before {
  content: "\f0cb"; }

.fa-strikethrough:before {
  content: "\f0cc"; }

.fa-underline:before {
  content: "\f0cd"; }

.fa-table:before {
  content: "\f0ce"; }

.fa-magic:before {
  content: "\f0d0"; }

.fa-truck:before {
  content: "\f0d1"; }

.fa-pinterest:before {
  content: "\f0d2"; }

.fa-pinterest-square:before {
  content: "\f0d3"; }

.fa-google-plus-square:before {
  content: "\f0d4"; }

.fa-google-plus:before {
  content: "\f0d5"; }

.fa-money:before {
  content: "\f0d6"; }

.fa-caret-down:before {
  content: "\f0d7"; }

.fa-caret-up:before {
  content: "\f0d8"; }

.fa-caret-left:before {
  content: "\f0d9"; }

.fa-caret-right:before {
  content: "\f0da"; }

.fa-columns:before {
  content: "\f0db"; }

.fa-unsorted:before,
.fa-sort:before {
  content: "\f0dc"; }

.fa-sort-down:before,
.fa-sort-desc:before {
  content: "\f0dd"; }

.fa-sort-up:before,
.fa-sort-asc:before {
  content: "\f0de"; }

.fa-envelope:before {
  content: "\f0e0"; }

.fa-linkedin:before {
  content: "\f0e1"; }

.fa-rotate-left:before,
.fa-undo:before {
  content: "\f0e2"; }

.fa-legal:before,
.fa-gavel:before {
  content: "\f0e3"; }

.fa-dashboard:before,
.fa-tachometer:before {
  content: "\f0e4"; }

.fa-comment-o:before {
  content: "\f0e5"; }

.fa-comments-o:before {
  content: "\f0e6"; }

.fa-flash:before,
.fa-bolt:before {
  content: "\f0e7"; }

.fa-sitemap:before {
  content: "\f0e8"; }

.fa-umbrella:before {
  content: "\f0e9"; }

.fa-paste:before,
.fa-clipboard:before {
  content: "\f0ea"; }

.fa-lightbulb-o:before {
  content: "\f0eb"; }

.fa-exchange:before {
  content: "\f0ec"; }

.fa-cloud-download:before {
  content: "\f0ed"; }

.fa-cloud-upload:before {
  content: "\f0ee"; }

.fa-user-md:before {
  content: "\f0f0"; }

.fa-stethoscope:before {
  content: "\f0f1"; }

.fa-suitcase:before {
  content: "\f0f2"; }

.fa-bell-o:before {
  content: "\f0a2"; }

.fa-coffee:before {
  content: "\f0f4"; }

.fa-cutlery:before {
  content: "\f0f5"; }

.fa-file-text-o:before {
  content: "\f0f6"; }

.fa-building-o:before {
  content: "\f0f7"; }

.fa-hospital-o:before {
  content: "\f0f8"; }

.fa-ambulance:before {
  content: "\f0f9"; }

.fa-medkit:before {
  content: "\f0fa"; }

.fa-fighter-jet:before {
  content: "\f0fb"; }

.fa-beer:before {
  content: "\f0fc"; }

.fa-h-square:before {
  content: "\f0fd"; }

.fa-plus-square:before {
  content: "\f0fe"; }

.fa-angle-double-left:before {
  content: "\f100"; }

.fa-angle-double-right:before {
  content: "\f101"; }

.fa-angle-double-up:before {
  content: "\f102"; }

.fa-angle-double-down:before {
  content: "\f103"; }

.fa-angle-left:before {
  content: "\f104"; }

.fa-angle-right:before {
  content: "\f105"; }

.fa-angle-up:before {
  content: "\f106"; }

.fa-angle-down:before {
  content: "\f107"; }

.fa-desktop:before {
  content: "\f108"; }

.fa-laptop:before {
  content: "\f109"; }

.fa-tablet:before {
  content: "\f10a"; }

.fa-mobile-phone:before,
.fa-mobile:before {
  content: "\f10b"; }

.fa-circle-o:before {
  content: "\f10c"; }

.fa-quote-left:before {
  content: "\f10d"; }

.fa-quote-right:before {
  content: "\f10e"; }

.fa-spinner:before {
  content: "\f110"; }

.fa-circle:before {
  content: "\f111"; }

.fa-mail-reply:before,
.fa-reply:before {
  content: "\f112"; }

.fa-github-alt:before {
  content: "\f113"; }

.fa-folder-o:before {
  content: "\f114"; }

.fa-folder-open-o:before {
  content: "\f115"; }

.fa-smile-o:before {
  content: "\f118"; }

.fa-frown-o:before {
  content: "\f119"; }

.fa-meh-o:before {
  content: "\f11a"; }

.fa-gamepad:before {
  content: "\f11b"; }

.fa-keyboard-o:before {
  content: "\f11c"; }

.fa-flag-o:before {
  content: "\f11d"; }

.fa-flag-checkered:before {
  content: "\f11e"; }

.fa-terminal:before {
  content: "\f120"; }

.fa-code:before {
  content: "\f121"; }

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: "\f122"; }

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "\f123"; }

.fa-location-arrow:before {
  content: "\f124"; }

.fa-crop:before {
  content: "\f125"; }

.fa-code-fork:before {
  content: "\f126"; }

.fa-unlink:before,
.fa-chain-broken:before {
  content: "\f127"; }

.fa-question:before {
  content: "\f128"; }

.fa-info:before {
  content: "\f129"; }

.fa-exclamation:before {
  content: "\f12a"; }

.fa-superscript:before {
  content: "\f12b"; }

.fa-subscript:before {
  content: "\f12c"; }

.fa-eraser:before {
  content: "\f12d"; }

.fa-puzzle-piece:before {
  content: "\f12e"; }

.fa-microphone:before {
  content: "\f130"; }

.fa-microphone-slash:before {
  content: "\f131"; }

.fa-shield:before {
  content: "\f132"; }

.fa-calendar-o:before {
  content: "\f133"; }

.fa-fire-extinguisher:before {
  content: "\f134"; }

.fa-rocket:before {
  content: "\f135"; }

.fa-maxcdn:before {
  content: "\f136"; }

.fa-chevron-circle-left:before {
  content: "\f137"; }

.fa-chevron-circle-right:before {
  content: "\f138"; }

.fa-chevron-circle-up:before {
  content: "\f139"; }

.fa-chevron-circle-down:before {
  content: "\f13a"; }

.fa-html5:before {
  content: "\f13b"; }

.fa-css3:before {
  content: "\f13c"; }

.fa-anchor:before {
  content: "\f13d"; }

.fa-unlock-alt:before {
  content: "\f13e"; }

.fa-bullseye:before {
  content: "\f140"; }

.fa-ellipsis-h:before {
  content: "\f141"; }

.fa-ellipsis-v:before {
  content: "\f142"; }

.fa-rss-square:before {
  content: "\f143"; }

.fa-play-circle:before {
  content: "\f144"; }

.fa-ticket:before {
  content: "\f145"; }

.fa-minus-square:before {
  content: "\f146"; }

.fa-minus-square-o:before {
  content: "\f147"; }

.fa-level-up:before {
  content: "\f148"; }

.fa-level-down:before {
  content: "\f149"; }

.fa-check-square:before {
  content: "\f14a"; }

.fa-pencil-square:before {
  content: "\f14b"; }

.fa-external-link-square:before {
  content: "\f14c"; }

.fa-share-square:before {
  content: "\f14d"; }

.fa-compass:before {
  content: "\f14e"; }

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: "\f150"; }

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: "\f151"; }

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: "\f152"; }

.fa-euro:before,
.fa-eur:before {
  content: "\f153"; }

.fa-gbp:before {
  content: "\f154"; }

.fa-dollar:before,
.fa-usd:before {
  content: "\f155"; }

.fa-rupee:before,
.fa-inr:before {
  content: "\f156"; }

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "\f157"; }

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "\f158"; }

.fa-won:before,
.fa-krw:before {
  content: "\f159"; }

.fa-bitcoin:before,
.fa-btc:before {
  content: "\f15a"; }

.fa-file:before {
  content: "\f15b"; }

.fa-file-text:before {
  content: "\f15c"; }

.fa-sort-alpha-asc:before {
  content: "\f15d"; }

.fa-sort-alpha-desc:before {
  content: "\f15e"; }

.fa-sort-amount-asc:before {
  content: "\f160"; }

.fa-sort-amount-desc:before {
  content: "\f161"; }

.fa-sort-numeric-asc:before {
  content: "\f162"; }

.fa-sort-numeric-desc:before {
  content: "\f163"; }

.fa-thumbs-up:before {
  content: "\f164"; }

.fa-thumbs-down:before {
  content: "\f165"; }

.fa-youtube-square:before {
  content: "\f166"; }

.fa-youtube:before {
  content: "\f167"; }

.fa-xing:before {
  content: "\f168"; }

.fa-xing-square:before {
  content: "\f169"; }

.fa-youtube-play:before {
  content: "\f16a"; }

.fa-dropbox:before {
  content: "\f16b"; }

.fa-stack-overflow:before {
  content: "\f16c"; }

.fa-instagram:before {
  content: "\f16d"; }

.fa-flickr:before {
  content: "\f16e"; }

.fa-adn:before {
  content: "\f170"; }

.fa-bitbucket:before {
  content: "\f171"; }

.fa-bitbucket-square:before {
  content: "\f172"; }

.fa-tumblr:before {
  content: "\f173"; }

.fa-tumblr-square:before {
  content: "\f174"; }

.fa-long-arrow-down:before {
  content: "\f175"; }

.fa-long-arrow-up:before {
  content: "\f176"; }

.fa-long-arrow-left:before {
  content: "\f177"; }

.fa-long-arrow-right:before {
  content: "\f178"; }

.fa-apple:before {
  content: "\f179"; }

.fa-windows:before {
  content: "\f17a"; }

.fa-android:before {
  content: "\f17b"; }

.fa-linux:before {
  content: "\f17c"; }

.fa-dribbble:before {
  content: "\f17d"; }

.fa-skype:before {
  content: "\f17e"; }

.fa-foursquare:before {
  content: "\f180"; }

.fa-trello:before {
  content: "\f181"; }

.fa-female:before {
  content: "\f182"; }

.fa-male:before {
  content: "\f183"; }

.fa-gittip:before,
.fa-gratipay:before {
  content: "\f184"; }

.fa-sun-o:before {
  content: "\f185"; }

.fa-moon-o:before {
  content: "\f186"; }

.fa-archive:before {
  content: "\f187"; }

.fa-bug:before {
  content: "\f188"; }

.fa-vk:before {
  content: "\f189"; }

.fa-weibo:before {
  content: "\f18a"; }

.fa-renren:before {
  content: "\f18b"; }

.fa-pagelines:before {
  content: "\f18c"; }

.fa-stack-exchange:before {
  content: "\f18d"; }

.fa-arrow-circle-o-right:before {
  content: "\f18e"; }

.fa-arrow-circle-o-left:before {
  content: "\f190"; }

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: "\f191"; }

.fa-dot-circle-o:before {
  content: "\f192"; }

.fa-wheelchair:before {
  content: "\f193"; }

.fa-vimeo-square:before {
  content: "\f194"; }

.fa-turkish-lira:before,
.fa-try:before {
  content: "\f195"; }

.fa-plus-square-o:before {
  content: "\f196"; }

.fa-space-shuttle:before {
  content: "\f197"; }

.fa-slack:before {
  content: "\f198"; }

.fa-envelope-square:before {
  content: "\f199"; }

.fa-wordpress:before {
  content: "\f19a"; }

.fa-openid:before {
  content: "\f19b"; }

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: "\f19c"; }

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: "\f19d"; }

.fa-yahoo:before {
  content: "\f19e"; }

.fa-google:before {
  content: "\f1a0"; }

.fa-reddit:before {
  content: "\f1a1"; }

.fa-reddit-square:before {
  content: "\f1a2"; }

.fa-stumbleupon-circle:before {
  content: "\f1a3"; }

.fa-stumbleupon:before {
  content: "\f1a4"; }

.fa-delicious:before {
  content: "\f1a5"; }

.fa-digg:before {
  content: "\f1a6"; }

.fa-pied-piper-pp:before {
  content: "\f1a7"; }

.fa-pied-piper-alt:before {
  content: "\f1a8"; }

.fa-drupal:before {
  content: "\f1a9"; }

.fa-joomla:before {
  content: "\f1aa"; }

.fa-language:before {
  content: "\f1ab"; }

.fa-fax:before {
  content: "\f1ac"; }

.fa-building:before {
  content: "\f1ad"; }

.fa-child:before {
  content: "\f1ae"; }

.fa-paw:before {
  content: "\f1b0"; }

.fa-spoon:before {
  content: "\f1b1"; }

.fa-cube:before {
  content: "\f1b2"; }

.fa-cubes:before {
  content: "\f1b3"; }

.fa-behance:before {
  content: "\f1b4"; }

.fa-behance-square:before {
  content: "\f1b5"; }

.fa-steam:before {
  content: "\f1b6"; }

.fa-steam-square:before {
  content: "\f1b7"; }

.fa-recycle:before {
  content: "\f1b8"; }

.fa-automobile:before,
.fa-car:before {
  content: "\f1b9"; }

.fa-cab:before,
.fa-taxi:before {
  content: "\f1ba"; }

.fa-tree:before {
  content: "\f1bb"; }

.fa-spotify:before {
  content: "\f1bc"; }

.fa-deviantart:before {
  content: "\f1bd"; }

.fa-soundcloud:before {
  content: "\f1be"; }

.fa-database:before {
  content: "\f1c0"; }

.fa-file-pdf-o:before {
  content: "\f1c1"; }

.fa-file-word-o:before {
  content: "\f1c2"; }

.fa-file-excel-o:before {
  content: "\f1c3"; }

.fa-file-powerpoint-o:before {
  content: "\f1c4"; }

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: "\f1c5"; }

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: "\f1c6"; }

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: "\f1c7"; }

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: "\f1c8"; }

.fa-file-code-o:before {
  content: "\f1c9"; }

.fa-vine:before {
  content: "\f1ca"; }

.fa-codepen:before {
  content: "\f1cb"; }

.fa-jsfiddle:before {
  content: "\f1cc"; }

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: "\f1cd"; }

.fa-circle-o-notch:before {
  content: "\f1ce"; }

.fa-ra:before,
.fa-resistance:before,
.fa-rebel:before {
  content: "\f1d0"; }

.fa-ge:before,
.fa-empire:before {
  content: "\f1d1"; }

.fa-git-square:before {
  content: "\f1d2"; }

.fa-git:before {
  content: "\f1d3"; }

.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: "\f1d4"; }

.fa-tencent-weibo:before {
  content: "\f1d5"; }

.fa-qq:before {
  content: "\f1d6"; }

.fa-wechat:before,
.fa-weixin:before {
  content: "\f1d7"; }

.fa-send:before,
.fa-paper-plane:before {
  content: "\f1d8"; }

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: "\f1d9"; }

.fa-history:before {
  content: "\f1da"; }

.fa-circle-thin:before {
  content: "\f1db"; }

.fa-header:before {
  content: "\f1dc"; }

.fa-paragraph:before {
  content: "\f1dd"; }

.fa-sliders:before {
  content: "\f1de"; }

.fa-share-alt:before {
  content: "\f1e0"; }

.fa-share-alt-square:before {
  content: "\f1e1"; }

.fa-bomb:before {
  content: "\f1e2"; }

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: "\f1e3"; }

.fa-tty:before {
  content: "\f1e4"; }

.fa-binoculars:before {
  content: "\f1e5"; }

.fa-plug:before {
  content: "\f1e6"; }

.fa-slideshare:before {
  content: "\f1e7"; }

.fa-twitch:before {
  content: "\f1e8"; }

.fa-yelp:before {
  content: "\f1e9"; }

.fa-newspaper-o:before {
  content: "\f1ea"; }

.fa-wifi:before {
  content: "\f1eb"; }

.fa-calculator:before {
  content: "\f1ec"; }

.fa-paypal:before {
  content: "\f1ed"; }

.fa-google-wallet:before {
  content: "\f1ee"; }

.fa-cc-visa:before {
  content: "\f1f0"; }

.fa-cc-mastercard:before {
  content: "\f1f1"; }

.fa-cc-discover:before {
  content: "\f1f2"; }

.fa-cc-amex:before {
  content: "\f1f3"; }

.fa-cc-paypal:before {
  content: "\f1f4"; }

.fa-cc-stripe:before {
  content: "\f1f5"; }

.fa-bell-slash:before {
  content: "\f1f6"; }

.fa-bell-slash-o:before {
  content: "\f1f7"; }

.fa-trash:before {
  content: "\f1f8"; }

.fa-copyright:before {
  content: "\f1f9"; }

.fa-at:before {
  content: "\f1fa"; }

.fa-eyedropper:before {
  content: "\f1fb"; }

.fa-paint-brush:before {
  content: "\f1fc"; }

.fa-birthday-cake:before {
  content: "\f1fd"; }

.fa-area-chart:before {
  content: "\f1fe"; }

.fa-pie-chart:before {
  content: "\f200"; }

.fa-line-chart:before {
  content: "\f201"; }

.fa-lastfm:before {
  content: "\f202"; }

.fa-lastfm-square:before {
  content: "\f203"; }

.fa-toggle-off:before {
  content: "\f204"; }

.fa-toggle-on:before {
  content: "\f205"; }

.fa-bicycle:before {
  content: "\f206"; }

.fa-bus:before {
  content: "\f207"; }

.fa-ioxhost:before {
  content: "\f208"; }

.fa-angellist:before {
  content: "\f209"; }

.fa-cc:before {
  content: "\f20a"; }

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: "\f20b"; }

.fa-meanpath:before {
  content: "\f20c"; }

.fa-buysellads:before {
  content: "\f20d"; }

.fa-connectdevelop:before {
  content: "\f20e"; }

.fa-dashcube:before {
  content: "\f210"; }

.fa-forumbee:before {
  content: "\f211"; }

.fa-leanpub:before {
  content: "\f212"; }

.fa-sellsy:before {
  content: "\f213"; }

.fa-shirtsinbulk:before {
  content: "\f214"; }

.fa-simplybuilt:before {
  content: "\f215"; }

.fa-skyatlas:before {
  content: "\f216"; }

.fa-cart-plus:before {
  content: "\f217"; }

.fa-cart-arrow-down:before {
  content: "\f218"; }

.fa-diamond:before {
  content: "\f219"; }

.fa-ship:before {
  content: "\f21a"; }

.fa-user-secret:before {
  content: "\f21b"; }

.fa-motorcycle:before {
  content: "\f21c"; }

.fa-street-view:before {
  content: "\f21d"; }

.fa-heartbeat:before {
  content: "\f21e"; }

.fa-venus:before {
  content: "\f221"; }

.fa-mars:before {
  content: "\f222"; }

.fa-mercury:before {
  content: "\f223"; }

.fa-intersex:before,
.fa-transgender:before {
  content: "\f224"; }

.fa-transgender-alt:before {
  content: "\f225"; }

.fa-venus-double:before {
  content: "\f226"; }

.fa-mars-double:before {
  content: "\f227"; }

.fa-venus-mars:before {
  content: "\f228"; }

.fa-mars-stroke:before {
  content: "\f229"; }

.fa-mars-stroke-v:before {
  content: "\f22a"; }

.fa-mars-stroke-h:before {
  content: "\f22b"; }

.fa-neuter:before {
  content: "\f22c"; }

.fa-genderless:before {
  content: "\f22d"; }

.fa-facebook-official:before {
  content: "\f230"; }

.fa-pinterest-p:before {
  content: "\f231"; }

.fa-whatsapp:before {
  content: "\f232"; }

.fa-server:before {
  content: "\f233"; }

.fa-user-plus:before {
  content: "\f234"; }

.fa-user-times:before {
  content: "\f235"; }

.fa-hotel:before,
.fa-bed:before {
  content: "\f236"; }

.fa-viacoin:before {
  content: "\f237"; }

.fa-train:before {
  content: "\f238"; }

.fa-subway:before {
  content: "\f239"; }

.fa-medium:before {
  content: "\f23a"; }

.fa-yc:before,
.fa-y-combinator:before {
  content: "\f23b"; }

.fa-optin-monster:before {
  content: "\f23c"; }

.fa-opencart:before {
  content: "\f23d"; }

.fa-expeditedssl:before {
  content: "\f23e"; }

.fa-battery-4:before,
.fa-battery:before,
.fa-battery-full:before {
  content: "\f240"; }

.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: "\f241"; }

.fa-battery-2:before,
.fa-battery-half:before {
  content: "\f242"; }

.fa-battery-1:before,
.fa-battery-quarter:before {
  content: "\f243"; }

.fa-battery-0:before,
.fa-battery-empty:before {
  content: "\f244"; }

.fa-mouse-pointer:before {
  content: "\f245"; }

.fa-i-cursor:before {
  content: "\f246"; }

.fa-object-group:before {
  content: "\f247"; }

.fa-object-ungroup:before {
  content: "\f248"; }

.fa-sticky-note:before {
  content: "\f249"; }

.fa-sticky-note-o:before {
  content: "\f24a"; }

.fa-cc-jcb:before {
  content: "\f24b"; }

.fa-cc-diners-club:before {
  content: "\f24c"; }

.fa-clone:before {
  content: "\f24d"; }

.fa-balance-scale:before {
  content: "\f24e"; }

.fa-hourglass-o:before {
  content: "\f250"; }

.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: "\f251"; }

.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: "\f252"; }

.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: "\f253"; }

.fa-hourglass:before {
  content: "\f254"; }

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: "\f255"; }

.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: "\f256"; }

.fa-hand-scissors-o:before {
  content: "\f257"; }

.fa-hand-lizard-o:before {
  content: "\f258"; }

.fa-hand-spock-o:before {
  content: "\f259"; }

.fa-hand-pointer-o:before {
  content: "\f25a"; }

.fa-hand-peace-o:before {
  content: "\f25b"; }

.fa-trademark:before {
  content: "\f25c"; }

.fa-registered:before {
  content: "\f25d"; }

.fa-creative-commons:before {
  content: "\f25e"; }

.fa-gg:before {
  content: "\f260"; }

.fa-gg-circle:before {
  content: "\f261"; }

.fa-tripadvisor:before {
  content: "\f262"; }

.fa-odnoklassniki:before {
  content: "\f263"; }

.fa-odnoklassniki-square:before {
  content: "\f264"; }

.fa-get-pocket:before {
  content: "\f265"; }

.fa-wikipedia-w:before {
  content: "\f266"; }

.fa-safari:before {
  content: "\f267"; }

.fa-chrome:before {
  content: "\f268"; }

.fa-firefox:before {
  content: "\f269"; }

.fa-opera:before {
  content: "\f26a"; }

.fa-internet-explorer:before {
  content: "\f26b"; }

.fa-tv:before,
.fa-television:before {
  content: "\f26c"; }

.fa-contao:before {
  content: "\f26d"; }

.fa-500px:before {
  content: "\f26e"; }

.fa-amazon:before {
  content: "\f270"; }

.fa-calendar-plus-o:before {
  content: "\f271"; }

.fa-calendar-minus-o:before {
  content: "\f272"; }

.fa-calendar-times-o:before {
  content: "\f273"; }

.fa-calendar-check-o:before {
  content: "\f274"; }

.fa-industry:before {
  content: "\f275"; }

.fa-map-pin:before {
  content: "\f276"; }

.fa-map-signs:before {
  content: "\f277"; }

.fa-map-o:before {
  content: "\f278"; }

.fa-map:before {
  content: "\f279"; }

.fa-commenting:before {
  content: "\f27a"; }

.fa-commenting-o:before {
  content: "\f27b"; }

.fa-houzz:before {
  content: "\f27c"; }

.fa-vimeo:before {
  content: "\f27d"; }

.fa-black-tie:before {
  content: "\f27e"; }

.fa-fonticons:before {
  content: "\f280"; }

.fa-reddit-alien:before {
  content: "\f281"; }

.fa-edge:before {
  content: "\f282"; }

.fa-credit-card-alt:before {
  content: "\f283"; }

.fa-codiepie:before {
  content: "\f284"; }

.fa-modx:before {
  content: "\f285"; }

.fa-fort-awesome:before {
  content: "\f286"; }

.fa-usb:before {
  content: "\f287"; }

.fa-product-hunt:before {
  content: "\f288"; }

.fa-mixcloud:before {
  content: "\f289"; }

.fa-scribd:before {
  content: "\f28a"; }

.fa-pause-circle:before {
  content: "\f28b"; }

.fa-pause-circle-o:before {
  content: "\f28c"; }

.fa-stop-circle:before {
  content: "\f28d"; }

.fa-stop-circle-o:before {
  content: "\f28e"; }

.fa-shopping-bag:before {
  content: "\f290"; }

.fa-shopping-basket:before {
  content: "\f291"; }

.fa-hashtag:before {
  content: "\f292"; }

.fa-bluetooth:before {
  content: "\f293"; }

.fa-bluetooth-b:before {
  content: "\f294"; }

.fa-percent:before {
  content: "\f295"; }

.fa-gitlab:before {
  content: "\f296"; }

.fa-wpbeginner:before {
  content: "\f297"; }

.fa-wpforms:before {
  content: "\f298"; }

.fa-envira:before {
  content: "\f299"; }

.fa-universal-access:before {
  content: "\f29a"; }

.fa-wheelchair-alt:before {
  content: "\f29b"; }

.fa-question-circle-o:before {
  content: "\f29c"; }

.fa-blind:before {
  content: "\f29d"; }

.fa-audio-description:before {
  content: "\f29e"; }

.fa-volume-control-phone:before {
  content: "\f2a0"; }

.fa-braille:before {
  content: "\f2a1"; }

.fa-assistive-listening-systems:before {
  content: "\f2a2"; }

.fa-asl-interpreting:before,
.fa-american-sign-language-interpreting:before {
  content: "\f2a3"; }

.fa-deafness:before,
.fa-hard-of-hearing:before,
.fa-deaf:before {
  content: "\f2a4"; }

.fa-glide:before {
  content: "\f2a5"; }

.fa-glide-g:before {
  content: "\f2a6"; }

.fa-signing:before,
.fa-sign-language:before {
  content: "\f2a7"; }

.fa-low-vision:before {
  content: "\f2a8"; }

.fa-viadeo:before {
  content: "\f2a9"; }

.fa-viadeo-square:before {
  content: "\f2aa"; }

.fa-snapchat:before {
  content: "\f2ab"; }

.fa-snapchat-ghost:before {
  content: "\f2ac"; }

.fa-snapchat-square:before {
  content: "\f2ad"; }

.fa-pied-piper:before {
  content: "\f2ae"; }

.fa-first-order:before {
  content: "\f2b0"; }

.fa-yoast:before {
  content: "\f2b1"; }

.fa-themeisle:before {
  content: "\f2b2"; }

.fa-google-plus-circle:before,
.fa-google-plus-official:before {
  content: "\f2b3"; }

.fa-fa:before,
.fa-font-awesome:before {
  content: "\f2b4"; }

.fa-handshake-o:before {
  content: "\f2b5"; }

.fa-envelope-open:before {
  content: "\f2b6"; }

.fa-envelope-open-o:before {
  content: "\f2b7"; }

.fa-linode:before {
  content: "\f2b8"; }

.fa-address-book:before {
  content: "\f2b9"; }

.fa-address-book-o:before {
  content: "\f2ba"; }

.fa-vcard:before,
.fa-address-card:before {
  content: "\f2bb"; }

.fa-vcard-o:before,
.fa-address-card-o:before {
  content: "\f2bc"; }

.fa-user-circle:before {
  content: "\f2bd"; }

.fa-user-circle-o:before {
  content: "\f2be"; }

.fa-user-o:before {
  content: "\f2c0"; }

.fa-id-badge:before {
  content: "\f2c1"; }

.fa-drivers-license:before,
.fa-id-card:before {
  content: "\f2c2"; }

.fa-drivers-license-o:before,
.fa-id-card-o:before {
  content: "\f2c3"; }

.fa-quora:before {
  content: "\f2c4"; }

.fa-free-code-camp:before {
  content: "\f2c5"; }

.fa-telegram:before {
  content: "\f2c6"; }

.fa-thermometer-4:before,
.fa-thermometer:before,
.fa-thermometer-full:before {
  content: "\f2c7"; }

.fa-thermometer-3:before,
.fa-thermometer-three-quarters:before {
  content: "\f2c8"; }

.fa-thermometer-2:before,
.fa-thermometer-half:before {
  content: "\f2c9"; }

.fa-thermometer-1:before,
.fa-thermometer-quarter:before {
  content: "\f2ca"; }

.fa-thermometer-0:before,
.fa-thermometer-empty:before {
  content: "\f2cb"; }

.fa-shower:before {
  content: "\f2cc"; }

.fa-bathtub:before,
.fa-s15:before,
.fa-bath:before {
  content: "\f2cd"; }

.fa-podcast:before {
  content: "\f2ce"; }

.fa-window-maximize:before {
  content: "\f2d0"; }

.fa-window-minimize:before {
  content: "\f2d1"; }

.fa-window-restore:before {
  content: "\f2d2"; }

.fa-times-rectangle:before,
.fa-window-close:before {
  content: "\f2d3"; }

.fa-times-rectangle-o:before,
.fa-window-close-o:before {
  content: "\f2d4"; }

.fa-bandcamp:before {
  content: "\f2d5"; }

.fa-grav:before {
  content: "\f2d6"; }

.fa-etsy:before {
  content: "\f2d7"; }

.fa-imdb:before {
  content: "\f2d8"; }

.fa-ravelry:before {
  content: "\f2d9"; }

.fa-eercast:before {
  content: "\f2da"; }

.fa-microchip:before {
  content: "\f2db"; }

.fa-snowflake-o:before {
  content: "\f2dc"; }

.fa-superpowers:before {
  content: "\f2dd"; }

.fa-wpexplorer:before {
  content: "\f2de"; }

.fa-meetup:before {
  content: "\f2e0"; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

.f-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -moz-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  width: auto; }
  .f-container > * {
    margin-top: auto;
    margin-bottom: auto; }
    .f-container > *:not(script, p, style) {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex; }
  .f-container.column {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .f-container.row {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
  .f-container.top {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start; }
  .f-container.start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start; }
  .f-container.left {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start; }
  .f-container.wrap {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .f-container.fill {
    width: 100%; }
  .f-container.not-grow {
    flex-grow: 0;
    flex-shrink: 0; }

.initFlex {
  flex: 0; }
  .initFlex * {
    display: inline-block; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.space-around {
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around; }

.space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }

.ul {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  height: auto; }

#bodyContent {
  padding: 25px 0; }

.page-content {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: justify;
  max-width: 1024px;
  background: rgba(255, 255, 226, 0.9);
  border-radius: 3px;
  margin: auto;
  padding: 55px;
  margin-bottom: 25px; }
  .page-content.last:last-child {
    margin-bottom: 0; }
  .page-content section:not(:last-child) {
    margin-bottom: 20px; }
  .page-content:after {
    content: "";
    width: 85%;
    height: 1px;
    border-radius: 2px;
    background: #9a2f26;
    align-self: center;
    transform: translateY(67px);
    opacity: 0.5;
    z-index: 0; }
  .page-content:last-child:after {
    display: none; }
  .page-content:first-child:last-child:after {
    display: none; }
  .page-content:first-child:last-child:before {
    content: "";
    width: 85%;
    height: 1px;
    border-radius: 2px;
    background: #9a2f26;
    align-self: center;
    transform: translateY(-67px);
    display: none; }
  .page-content ul {
    margin-left: 19px;
    flex-direction: column; }

.ipad #bodyContent,
.phone #bodyContent {
  padding: 0; }
.ipad .page-content,
.phone .page-content {
  padding: 20px;
  /*padding      : 2.9vh; ie bug de superposition*/
  margin-bottom: 0; }
  .ipad .page-content:after,
  .phone .page-content:after {
    transform: translateY(20px); }
  .ipad .page-content:first-child:last-child:after, .ipad .page-content:first-child:last-child:before,
  .phone .page-content:first-child:last-child:after,
  .phone .page-content:first-child:last-child:before {
    display: none; }

.phone .page-content {
  border-radius: 0;
  padding-left: 12px;
  padding-right: 12px;
  /*width        : 100vw;*/ }

.ipad .page-content * h1,
.phone .page-content * h1 {
  font-size: 1.5em;
  text-align: initial; }

.page-content * {
  color: #36631c;
  letter-spacing: 0.01rem;
  font-weight: 600;
  font-style: normal;
  line-height: 1.58;
  letter-spacing: -.003em; }
  .page-content * span {
    color: inherit; }
  .page-content * h1 {
    font-size: 1.5em;
    margin-bottom: 20px !important; }

.reload {
  margin: 0; }

.phone .phone100vw {
  margin-left: -12px;
  /** il y a un bug ├®trange on doit mettre une fake width et un min et max width*/
  width: 100px !important;
  min-width: calc(100% + 2 * 12px) !important;
  max-width: calc(100% + 2 * 12px) !important; }

.ipad .ipad100vw {
  margin-left: -18px;
  width: 100px !important;
  min-width: calc(100% + 2 * 18px) !important;
  max-width: calc(100% + 2 * 18px) !important; }

.f-item {
  display: flex; }

header {
  background: #d8d5b1; }
  header .li {
    height: 20px; }
    header .li > a {
      display: table; }
      header .li > a > * {
        dipslay: table-cell;
        vertical-align: middle; }
  header a:hover,
  header .pointer > i:hover {
    color: #36631c; }
    header a:hover span,
    header .pointer > i:hover span {
      color: #36631c; }
    header a:hover i,
    header .pointer > i:hover i {
      color: #36631c; }

#top-bar {
  font-weight: 700;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 12px; }
  #top-bar a {
    text-decoration: none;
    text-transform: capitalize; }
  #top-bar i {
    font-size: 14px;
    margin-right: 6px;
    line-height: 20px; }
  #top-bar > div {
    min-height: 38px;
    justify-content: flex-end; }
    #top-bar > div.contact-infos {
      justify-content: flex-start;
      /*min-width      : 410px;*/
      /*bad for ie*/ }
      #top-bar > div.contact-infos > *:first-child {
        padding-left: 12px; }
    #top-bar > div > * {
      flex-grow: 0;
      margin-right: 12px; }
      #top-bar > div > *:last-child {
        margin-right: 0; }
  #top-bar #langChoice {
    margin-right: 10px;
    width: 30px;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; }
    #top-bar #langChoice.active2 a {
      display: flex; }
    #top-bar #langChoice .f-item {
      margin-bottom: 0;
      padding: 4px;
      align-items: center;
      flex-shrink: 0;
      min-height: 20px;
      flex-grow: 0; }
    #top-bar #langChoice a {
      padding-left: 5px;
      display: none;
      margin-bottom: 5px;
      order: 1;
      background: #9a2f26;
      border-radius: 3px;
      width: 100%;
      text-align: center;
      color: #d8d5b1;
      margin-top: 3px; }
      #top-bar #langChoice a:hover {
        background: #36631c; }
      #top-bar #langChoice a.active {
        display: flex;
        order: 0;
        margin-top: -2px; }

.rightPart {
  margin-right: 0;
  height: 40px; }
  .rightPart > * {
    height: 20px; }

.ipad #top-bar i,
.phone #top-bar i {
  font-size: 20px; }
.ipad #top-bar > div,
.phone #top-bar > div {
  min-width: auto; }
.ipad .no-mobile,
.phone .no-mobile {
  display: none; }

#page-header {
  flex-shrink: 0;
  font-family: sans-serif;
  min-height: 100px;
  max-height: 250px;
  background: #fcfadf;
  flex-grow: 0; }
  #page-header .logoContainer {
    height: 150px;
    padding: calc(20px);
    overflow-x: hidden;
    overflow-y: hidden;
    /*ie*/ }
    #page-header .logoContainer img {
      height: 100%;
      margin: 0 17px 0 0;
      width: auto; }

#page-title {
  margin-top: 10px;
  margin-bottom: 10px; }
  #page-title div {
    text-transform: uppercase;
    white-space: nowrap;
    align-content: center;
    font-size: xx-large; }

.cinema #page-title h1,
.pc #page-title h1 {
  flex-wrap: nowrap; }

.phone #page-title {
  flex-grow: 0;
  padding-left: 10px;
  padding-right: 10px; }
  .phone #page-title h1 {
    font-size: 150%; }

#header-aside {
  justify-content: flex-end;
  align-items: flex-start;
  padding: 6px; }
  #header-aside > * {
    margin: 0 6px; }

.phone nav {
  min-width: auto;
  width: 100% !important;
  padding: 6px; }
  .phone nav ul {
    flex-wrap: wrap; }
  .phone nav li {
    margin: 0 6px; }

nav {
  padding: 25px 20px;
  flex-grow: 0 !important; }
  nav li {
    margin: 0 12px;
    list-style-type: none;
    height: 18px; }
    nav li a {
      text-decoration: none;
      color: black;
      text-transform: uppercase;
      font-family: "Gotham A", "Gotham B";
      font-weight: 700;
      font-size: 12px;
      height: 18px; }

.cinema, .pc {
  background: red; }
  .cinema nav, .pc nav {
    font-size: 16px; }
    .cinema nav li a, .pc nav li a {
      font-size: 16px !important; }

@media (max-width: 1090px) {
  header .contact-infos a i {
    font-size: 20px !important; }
  header .contact-infos a span {
    display: none; } }
.ps-container {
  -ms-touch-action: auto;
  touch-action: auto;
  overflow: hidden !important;
  -ms-overflow-style: none; }
  @supports (-ms-overflow-style: none) {
    .ps-container {
      overflow: auto !important; } }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .ps-container {
      overflow: auto !important; } }
  .ps-container.ps-active-x > .ps-scrollbar-x-rail, .ps-container.ps-active-y > .ps-scrollbar-y-rail {
    display: block;
    background-color: transparent; }
  .ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
    background-color: #eee;
    opacity: 0.9; }
    .ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
      background-color: #999;
      height: 11px; }
  .ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
    background-color: #eee;
    opacity: 0.9; }
    .ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
      background-color: #999;
      width: 11px; }
  .ps-container > .ps-scrollbar-x-rail {
    display: none;
    position: absolute;
    /* please don't change 'position' */
    opacity: 0;
    transition: background-color .2s linear, opacity .2s linear;
    bottom: 0px;
    /* there must be 'bottom' for ps-scrollbar-x-rail */
    height: 15px; }
    .ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x {
      position: absolute;
      /* please don't change 'position' */
      background-color: #aaa;
      border-radius: 6px;
      transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
      bottom: 2px;
      /* there must be 'bottom' for ps-scrollbar-x */
      height: 6px; }
    .ps-container > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x, .ps-container > .ps-scrollbar-x-rail:active > .ps-scrollbar-x {
      height: 11px; }
  .ps-container > .ps-scrollbar-y-rail {
    display: none;
    position: absolute;
    /* please don't change 'position' */
    opacity: 0;
    transition: background-color .2s linear, opacity .2s linear;
    right: 0;
    /* there must be 'right' for ps-scrollbar-y-rail */
    width: 15px; }
    .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
      position: absolute;
      /* please don't change 'position' */
      background-color: #aaa;
      border-radius: 6px;
      transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
      right: 2px;
      /* there must be 'right' for ps-scrollbar-y */
      width: 6px; }
    .ps-container > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y, .ps-container > .ps-scrollbar-y-rail:active > .ps-scrollbar-y {
      width: 11px; }
  .ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
    background-color: #eee;
    opacity: 0.9; }
    .ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
      background-color: #999;
      height: 11px; }
  .ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
    background-color: #eee;
    opacity: 0.9; }
    .ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
      background-color: #999;
      width: 11px; }
  .ps-container:hover > .ps-scrollbar-x-rail,
  .ps-container:hover > .ps-scrollbar-y-rail {
    opacity: 0.6; }
  .ps-container:hover > .ps-scrollbar-x-rail:hover {
    background-color: #eee;
    opacity: 0.9; }
    .ps-container:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x {
      background-color: #999; }
  .ps-container:hover > .ps-scrollbar-y-rail:hover {
    background-color: #eee;
    opacity: 0.9; }
    .ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
      background-color: #999; }

#endDate,
#startDate {
  height: 52px;
  border: 1px solid;
  border-radius: 3px;
  flex-grow: 1;
  margin-right: 6px;
  text-transform: capitalize; }
  #endDate:hover,
  #startDate:hover {
    border-color: rgba(59, 112, 28, 0.5); }
  #endDate i,
  #startDate i {
    margin-left: 6px;
    margin-top: -10px; }
    #endDate i:hover,
    #startDate i:hover {
      color: rgba(59, 112, 28, 0.5); }
  #endDate:first-child,
  #startDate:first-child {
    margin-right: 12px; }
  #endDate label,
  #startDate label {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 5px;
    padding-top: 5px;
    cursor: pointer; }

header {
  flex-grow: 0 !important;
  justify-content: flex-start !important; }

.checkAvabilityForm {
  flex-grow: 0; }

.ipad #endDate,
.phone #endDate {
  margin-right: 0; }
.ipad .checkAvabilityForm > .f-container > .f-container,
.phone .checkAvabilityForm > .f-container > .f-container {
  margin-bottom: 0; }
.ipad .checkAvabilityForm .f-container,
.phone .checkAvabilityForm .f-container {
  width: 100%; }
.ipad .checkAvabilityForm .input,
.ipad .checkAvabilityForm button,
.phone .checkAvabilityForm .input,
.phone .checkAvabilityForm button {
  min-width: 230px;
  margin-top: 12px;
  margin-left: 0;
  margin-right: 0; }
.ipad .checkAvabilityForm button.plus-minus,
.phone .checkAvabilityForm button.plus-minus {
  margin-left: 6px;
  margin-right: 6px;
  margin-top: auto; }

.checkAvabilityForm * {
  line-height: 1; }
.checkAvabilityForm > .f-container > .f-container {
  margin-bottom: 12px; }
.checkAvabilityForm .horaires {
  margin-top: 12px; }
  .checkAvabilityForm .horaires *:not(span) {
    text-align: center;
    line-height: 1.58;
    margin-bottom: 0;
    max-width: 175px;
    display: block; }
.checkAvabilityForm .input {
  border: 1px solid;
  border-radius: 3px;
  height: 52px;
  padding: 0 12px;
  justify-content: center;
  margin-left: 6px;
  margin-right: 6px;
  text-transform: capitalize; }
  .checkAvabilityForm .input label {
    margin-right: 6px; }
  .checkAvabilityForm .input:last-child {
    margin-right: 0; }
  .checkAvabilityForm .input:hover {
    border-color: rgba(59, 112, 28, 0.5); }
  .checkAvabilityForm .input input,
  .checkAvabilityForm .input label {
    height: 30px;
    font-size: 25px;
    text-align: center;
    border: none;
    background: none;
    box-shadow: none;
    pointer-events: none;
    cursor: default; }
  .checkAvabilityForm .input label {
    height: 15px;
    /*ie*/
    font-size: 15px; }
  .checkAvabilityForm .input button {
    line-height: 1.65;
    height: 22px; }
.checkAvabilityForm button {
  font-size: 16px;
  max-width: 400px;
  margin-left: 12px;
  margin-top: 0; }
  .checkAvabilityForm button:hover {
    border-color: rgba(59, 112, 28, 0.5); }
  .checkAvabilityForm button.plus-minus {
    min-width: 20px;
    max-width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    margin-left: 0;
    margin-top: auto; }
    .checkAvabilityForm button.plus-minus i {
      font-size: 20px;
      margin-left: 1px; }
      .checkAvabilityForm button.plus-minus i:hover {
        color: rgba(59, 112, 28, 0.5); }

.wc-date-popover * {
  text-align: initial;
  color: initial;
  line-height: auto;
  font-weight: initial;
  font-style: initial;
  color: #9a2f26; }
.wc-date-popover .wc-details {
  display: flex;
  align-items: center;
  justify-content: center; }
  .wc-date-popover .wc-details i {
    font-size: 30px; }
    .wc-date-popover .wc-details i:last-child:before {
      float: right;
      margin-top: 2px; }
  .wc-date-popover .wc-details div {
    text-align: center; }
.wc-date-popover .selected-day > span, .wc-date-popover .wc-banner, .wc-date-popover .wc-details {
  background: rgba(54, 99, 28, 0.65); }
.wc-date-popover .today span {
  border-color: #9a2f26; }
.wc-date-popover .wc-banner *, .wc-date-popover .wc-details * {
  color: #eeffe4; }
.wc-date-popover .calendar-days td:hover > span {
  background: rgba(59, 112, 28, 0.2);
  color: #9a2f26; }
.wc-date-popover .calendar-day span, .wc-date-popover .calendar-header td, .wc-date-popover .wc-banner div {
  text-align: center; }

.phone .wc-date-popover {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow-y: auto;
  padding-bottom: 90px; }
  .phone .wc-date-popover .wc-day-row {
    display: none; }
  .phone .wc-date-popover .wc-date-row {
    font-size: 75px; }

.ipad #map,
.phone #map {
  padding-left: 0;
  padding-right: 0; }
  .ipad #map iframe,
  .phone #map iframe {
    padding-bottom: 20px; }

.touchScreen #map:after, .touchScreen #map:before {
  display: none; }

.ipad #map:before,
.phone #map:before {
  margin: 0 0 0px; }

#map {
  width: 100%;
  height: 510px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: none;
  margin-bottom: 55px; }
  #map iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 510px; }
    #map iframe body {
      margin: 0; }
  #map:after, #map:before {
    transition: all 0.25s ease;
    position: absolute;
    display: block; }
  #map:before {
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: 0;
    z-index: 10;
    margin: 0; }
  #map:after {
    content: 'Click to Interact';
    background: #00adee;
    color: #fff;
    width: 200px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    text-align: center;
    top: 50%;
    margin-top: -15px;
    left: 50%;
    margin-left: -100px;
    z-index: 11;
    opacity: 0; }
  #map:hover:before {
    opacity: 0.2; }
  #map:hover:after {
    opacity: 1; }
  #map.interact:after, #map.interact:before {
    display: none; }

.ipad #map,
.phone #map {
  height: 400px;
  margin-top: 0; }

#mapAbsolute {
  background: transparent;
  padding-bottom: 0; }

.backgroundCenter {
  height: 635px;
  overflow: hidden;
  position: relative; }

.transparent {
  background: transparent; }

#bottomMini {
  display: block;
  margin-top: 0;
  position: absolute;
  top: 50px;
  left: 0;
  padding: 10px;
  width: 100px;
  min-width: 100%;
  max-width: 100%;
  overflow: hidden;
  margin-top: calc(-4.91% - 6px);
  padding-top: 10px;
  z-index: 23; }
  #bottomMini .miniatures {
    display: flex; }

.carouselParent {
  /*	& .miniatures div:last-child {
  		display: none !important;
  	}*/ }
  .carouselParent .carousel {
    position: absolute;
    /*max-width:1024px;*/
    left: 0;
    top: 100px; }
  .carouselParent .miniature {
    max-width: 100px;
    max-height: 50px;
    width: auto;
    height: auto;
    cursor: pointer; }
  .carouselParent .largeContainer .containerImg {
    text-align: center;
    position: relative; }
  .carouselParent .widthContent, .carouselParent.widthContent {
    overflow-x: hidden; }
  .carouselParent .buttonCarousel {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    height: 100%; }
  .carouselParent #realImg {
    max-width: 68px;
    height: 500px;
    width: auto;
    margin: auto;
    left: 50%;
    top: 0; }
  .carouselParent .largeContainerParent .js-container-img.containerImg.clientW > span {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 9px;
    right: 0;
    height: 25px; }
    .carouselParent .largeContainerParent .js-container-img.containerImg.clientW > span > span {
      color: white;
      height: 150%;
      padding: 6px 10px;
      background: #000;
      /*background: -moz-linear-gradient(top, transparent 0%, #000 100%);
      background: -webkit-linear-gradient(top, transparent 0%,#000 100%);
      background: linear-gradient(to bottom, transparent 0%,#000 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  'transparent', endColorstr='#000000',GradientType=0 );*/
      background: rgba(0, 0, 0, 0.51);
      border-top-left-radius: 23px;
      border-top-right-radius: 23px; }
  .carouselParent .prev {
    left: 0;
    top: 50%;
    margin: -10px 20px 0; }
  .carouselParent .next {
    right: 0;
    top: 50%;
    margin: -10px 7px 0; }
  .carouselParent .buttonCarousel img {
    opacity: 0; }
  .carouselParent .next, .carouselParent .prev {
    position: absolute;
    background: #9a2f26;
    border-radius: 100%;
    width: 40px;
    display: flex; }
    .carouselParent .next i, .carouselParent .prev i {
      font-size: 40px;
      color: #fcfadf;
      margin-left: auto;
      margin-right: auto;
      display: flex; }
  .carouselParent .realImgContainer {
    		/*        text-align: center;
    */
    max-width: 5000px;
    /*width: 500px;*/
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    /*height    : 340px;*/ }
  .carouselParent .largeContainer, .carouselParent .largeContainerParent {
    width: 5000000000000px; }
  .carouselParent .largeContainer.anim {
    transition: all 1s ease 0s; }
  .carouselParent {
    /*margin-top: 43px;*/ }
  .carouselParent.containerImg {
    margin-bottom: 20px; }
  .carouselParent .largeContainer .containerImg, .carouselParent .miniatures, .carouselParent .realImgContainer {
    /* width:calc(100vw - 0px)*/ }
  .carouselParent .miniaturesBottom {
    overflow: auto;
    overflow-y: hidden;
    width: 100%;
    height: 68px; }

.phone #bottomMini {
  margin-top: -40px; }

.ipad #bottomMini {
  margin-top: -40px; }

.cinema #bottomMini {
  margin-top: -71px; }

.pc #bottomMini {
  margin-top: -66px; }

.parentPopup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
  overflow: auto; }

.contentPopup {
  padding: 40px;
  background: rgba(0, 0, 0, 0.42);
  border-radius: 13px;
  max-width: 450px; }
  .contentPopup h2 {
    color: white; }
  .contentPopup input:first-child {
    margin-bottom: auto;
    color: white; }
  .contentPopup textarea {
    min-height: 200px;
    max-height: 450px;
    max-width: 100%;
    padding: 12px;
    font-size: 18px;
    color: black;
    border-radius: 4px; }
  .contentPopup button,
  .contentPopup textarea {
    margin-bottom: 12px; }
  .contentPopup form {
    justify-content: space-between; }
  .contentPopup .bigButton {
    color: white;
    border-color: white;
    background-color: rgba(255, 255, 255, 0.25); }

body[data-current-page] {
  background: url("../img/vigne_1.jpg");
  background-size: cover;
  background-attachment: fixed; }
body[data-current-page] #fakeBody {
  /*background:rgba(252,250,223,.2);
  background:rgba(252,250,223,.3);*/ }
body[data-current-page] #page-header {
  background: rgba(252, 250, 223, 0.7); }
body[data-current-page] header {
  background: rgba(216, 213, 177, 0.7);
  background: rgba(210, 208, 171, 0.8); }
body[data-current-page] footer {
  background: rgba(216, 213, 177, 0.85); }
body[data-current-page] .whiteTransBg {
  background: rgba(255, 255, 226, 0.85); }
body[data-current-page] .page-content:after {
  background: transparent; }

footer.f-container {
  flex-grow: 0;
  /*padding   : 12px;*/
  position: static;
  bottom: 0;
  background: #fcfadf;
  padding: 20px 0;
  min-height: 132px;
  display: table; }

.li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  /*height: 20px;*/ }
  .li * {
    max-width: 100%; }

footer.f-container {
  width: 100%; }
  footer.f-container > div {
    display: table-row;
    width: 100%; }
    footer.f-container > div > div {
      vertical-align: middle;
      display: table-cell; }
  footer.f-container .footerDiv {
    flex-grow: 0; }
  footer.f-container .ul, footer.f-container ul {
    align-content: center; }
  footer.f-container .li, footer.f-container li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    flex-grow: 0;
    padding: 0 12px;
    margin-top: 6px;
    list-style-type: none;
    text-align: center;
    flex-shrink: 0;
    margin-bottom: auto; }

.page {
  display: none !important; }
  .page.active {
    display: flex !important; }

.noLink {
  text-decoration: none; }

.inlineB {
  display: inline-block; }

.flag {
  width: 40px;
  height: 21px; }

.wc-date-container {
  border: transparent; }

/* form starting stylings ------------------------------- */
.phone .input-group {
  margin-bottom: 30px; }

.input-group {
  position: relative;
  margin-bottom: 45px;
  /* active state */
  /* BOTTOM BARS ================================= */
  /* active state */
  /* HIGHLIGHTER ================================== */
  /* active state */ }
  .input-group input {
    font-family: monospace;
    font-family: monospace;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(59, 112, 28, 0.2);
    background: none; }
  .input-group input:focus {
    outline: none; }
  .input-group label {
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    width: calc(100% - 5px);
    text-align: center;
    pointer-events: none; }
  .input-group label > span {
    color: rgba(54, 99, 28, 0.65);
    pointer-events: none;
    width: 100%;
    text-align: center; }
  .input-group input:focus ~ label,
  .input-group input.isNotEmpty ~ label {
    top: -20px;
    font-size: 14px; }
    .input-group input:focus ~ label > span,
    .input-group input.isNotEmpty ~ label > span {
      color: #36631c; }
  .input-group .bar {
    position: relative;
    display: block;
    max-width: 300px; }
  .input-group .bar:after,
  .input-group .bar:before {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #36631c;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all; }
  .input-group .bar:before {
    left: 50%; }
  .input-group .bar:after {
    right: 50%; }
  .input-group input:focus ~ .bar:after,
  .input-group input:focus ~ .bar:before {
    width: 50%; }
  .input-group .highlight {
    position: absolute;
    height: 60%;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5; }
  .input-group input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease; }

#sendNewPasswordForm,
#sendPasswordForm {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  display: flex; }

#sendNewPasswordButton {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer; }

.bigButton {
  border: 1px solid;
  color: #36631c;
  border-color: #36631c;
  border-radius: 3px;
  min-width: 90px;
  height: 52px;
  font-size: 18px;
  background: rgba(59, 112, 28, 0.2);
  text-transform: uppercase;
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
  flex-direction: row;
  overflow: hidden;
  cursor: pointer; }
  .bigButton > span {
    display: inline-block;
    text-align: center;
    width: 100%; }
  .bigButton:hover {
    border-color: rgba(59, 112, 28, 0.5); }
  .bigButton[type="submit"] span {
    margin: auto; }

.phone .bigButton {
  width: 100%; }

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #36631c; }
  to {
    width: 0;
    background: transparent; } }
@-moz-keyframes inputHighlighter {
  from {
    background: #36631c; }
  to {
    width: 0;
    background: transparent; } }
@keyframes inputHighlighter {
  from {
    background: #36631c; }
  to {
    width: 0;
    background: transparent; } }
.ripple {
  position: relative;
  overflow: hidden; }

.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform 0.5s,opacity 1s; }

.ripple:active:after {
  transform: scale(0, 0);
  opacity: 0.2;
  transition: 0s; }

.book-validation .reservation-state {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto 0 0;
  width: 100%;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.11765) 0 1px 6px, rgba(0, 0, 0, 0.11765) 0 1px 4px;
  padding: 20px;
  z-index: 10;
  flex-direction: row;
  justify-content: space-around; }
  .book-validation .reservation-state * {
    color: #9a2f26; }
  .book-validation .reservation-state i {
    min-width: 47px;
    font-size: 30px; }
  .book-validation .reservation-state > div {
    min-height: 47px;
    flex-grow: 0;
    justify-content: space-between; }
  .book-validation .reservation-state .big-value {
    height: 33px;
    font-size: 20px; }
  .book-validation .reservation-state #nbPersRes {
    display: inline-block;
    font-weight: 900;
    border: 1px solid rgba(54, 99, 28, 0.65);
    border-radius: 100%;
    border-radius: 5px;
    padding: 0 7px 0 6px;
    margin-left: 6px;
    cursor: pointer;
    width: 33px;
    text-align: center; }
  .book-validation .reservation-state .js-priceBookEstimation {
    margin-left: 6px; }
.book-validation .roomPres {
  font-size: 30px;
  background: rgba(59, 112, 28, 0.2);
  border-radius: 5px;
  margin-top: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer; }
  .book-validation .roomPres * {
    pointer-events: none; }
  .book-validation .roomPres > div.f-container {
    min-width: 100px; }
  .book-validation .roomPres:hover {
    outline: dashed 3px rgba(54, 99, 28, 0.65);
    border-radius: 0; }
  .book-validation .roomPres.selected {
    outline: solid 3px rgba(54, 99, 28, 0.65);
    border-radius: 0; }
  .book-validation .roomPres i {
    margin-right: 12px; }
  .book-validation .roomPres .room-num {
    width: 47px;
    font-weight: 900;
    border: 1px solid rgba(54, 99, 28, 0.65);
    border-radius: 100%;
    border-radius: 5px;
    text-align: center;
    display: inline-block; }
  .book-validation .roomPres .room-img-container {
    max-width: 250px;
    padding: 6px; }
    .book-validation .roomPres .room-img-container .pic-unavailable {
      background: white;
      color: grey;
      border: 1px dashed;
      border-radius: 3px;
      height: 100px;
      padding: 6px;
      text-align: center;
      font-size: 20px; }
    .book-validation .roomPres .room-img-container img {
      width: 100%;
      float: right; }
.book-validation h1 {
  margin-top: 20px;
  width: 100%; }
  .book-validation h1 span {
    text-align: center !important;
    width: 100%;
    display: block; }
.book-validation #bookValidation {
  margin-top: 42px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto; }
  .book-validation #bookValidation label {
    text-transform: capitalize; }
  .book-validation #bookValidation .bigBlockError {
    margin-bottom: 60px; }

.phone .book-validation .reservation-state {
  padding: 0;
  flex-direction: column; }
  .phone .book-validation .reservation-state > div {
    margin: 0 20px;
    max-width: auto; }
    .phone .book-validation .reservation-state > div > *:nth-child(2) {
      margin-right: auto; }

body.touchScreen .book-validation .roomPres:not(.selected):hover {
  outline: none; }

.dscvr .half {
  margin-right: 12px; }
  .dscvr .half:last-child {
    margin-right: 0; }
.dscvr p i {
  color: #8a6d3b;
  margin-left: 1px; }
.dscvr .half:last-child {
  margin-bottom: 0; }

.phone .dscvr .half {
  margin-right: 0; }

.dscvr .phone100vw {
  width: 100%; }
.dscvr img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 500px;
  min-width: 1px;
  min-height: 1px;
  padding-top: 10px; }

.admin {
  /*& .editImg {
  	position  : fixed;
  	width     : 100%;
  	height    : 100%;
  	top       : 0;
  	left      : 0;
  	background: rgba(0,0,0,0.8);
  	z-index   : 1;
  }*/ }
  .admin form input:first-child {
    margin-bottom: 12px; }
  .admin .miniature {
    display: inline-block;
    vertical-align: top;
    margin: 12px; }
  .admin .remove {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    width: 20px;
    height: 20px;
    color: red; }
    .admin .remove:before {
      position: absolute;
      width: 20px;
      line-height: 20px;
      text-align: center; }
    .admin .remove:hover {
      outline: 1px solid red; }
  .admin .containerImg {
    position: relative; }

div[is_paid="0"] {
  background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255, 255, 255, 0.5) 35px, rgba(255, 255, 255, 0.5) 70px); }

#listReserv .bigButton {
  margin-top: -14px;
  margin-bottom: 44px; }

body {
  margin: 0;
  padding: 0; }

.borto-table {
  height: 15cm;
  width: 100%;
  /*				min-width: 20cm;
  */
  background: yellow;
  border: solid 1px black;
  display: block;
  margin-top: 10px; }

.carousel .borto-table {
  margin-top: 0px; }

.carousel .borto-table-parent {
  width: auto; }

@media print {
  .borto-table {
    height: calc(100% ) !important;
    margin: 10px 0 0 0; }

  .borto-column {
    min-width: calc(100% / 8 - 2px); } }
.borto-table * {
  color: black; }

.borto-line {
  display: flex;
  width: 100%;
  background: blue;
  height: calc(100% / 10); }

.borto-column {
  display: flex;
  flex: 0 0;
  min-width: calc(100% / 8);
  width: 1px;
  background: whitesmoke;
  border: solid 1px black;
  text-align: center;
  justify-content: center;
  /* center items vertically, in this case */
  align-items: center;
  /* center items horizontally, in this case */ }

.borto-pres {
  background: #c0d8c4; }

.borto-line.borto-first-line .borto-column {
  background: #778a52; }

div[is_paid="0"] {
  background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255, 255, 255, 0.5) 35px, rgba(255, 255, 255, 0.5) 70px); }

.miniaturesBottom {
  margin-top: 30px; }

#sponsors-and-reviews {
  padding-bottom: 40px;
  justify-content: space-around;
  align-items: flex-start; }
  #sponsors-and-reviews > * {
    margin-top: 0;
    margin-bottom: 20px; }
    #sponsors-and-reviews > *:last-child {
      margin-bottom: 0; }
  #sponsors-and-reviews .recommended {
    display: inline-block;
    float: left;
    width: 16%;
    height: auto;
    min-height: 1px; }

.phone #sponsors-and-reviews .recommended {
  width: 45%; }

#tripPlug {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

#sendNewPasswordForm > div.f-container {
  padding-top: 25px; }

.borto-table-parent {
  width: 100%; }

.planningCarousel {
  /*	& .borto-table{
  		margin-right: -3px;
  	}
  */ }
  .planningCarousel.carouselParent .carousel {
    top: 0; }
  .planningCarousel .largeContainerParent, .planningCarousel .realImgContainer, .planningCarousel .carousel, .planningCarousel .largeContainer, .planningCarousel .borto-table {
    height: 100%; }
  .planningCarousel .borto-table {
    border: solid black 2px; }

.price .borto-column {
  width: 25%;
  min-width: 25%;
  max-width: 25%;
  flex-grow: 1;
  height: auto; }
  .price .borto-column span {
    width: 100%;
    word-wrap: break-word; }
.price .borto-line, .price.borto-table {
  height: auto; }

#TA_percentRecommended10 {
  width: 115px;
  height: 128px; }

#TA_selfserveprop111 {
  width: 240px;
  height: 430px; }

.checkAvabilityForm {
  margin-top: 0 !important; }

/*
#header-and-content{
	height:1000px;
}*/
#resizeRunnning {
  display: none; }

body.resize #resizeRunnning {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 101;
  text-align: center;
  display: table; }
  body.resize #resizeRunnning > div {
    vertical-align: middle;
    display: table-cell;
    font-size: 5vw; }

/*body.ieLte11 #beforeCarouselPlanHome + div{
	display:none;
}*/
/*.ieMess{
	display:none;
}
body.ieLte11{
	.ieMess{
		display: flex;
	}
}*/
.carouselParent + .ieMess {
  display: none; }

/*# sourceMappingURL=index.css.map */
