$primaryGreen: #36631c;
$primaryRed: #9a2f26;
$secondaryGreed: rgba(54, 99, 28, 0.65);
$ternaryGreen: rgba(59, 112, 28, 0.2);
@import "_flex.scss";
@mixin prefix($property, $value, $vendors: webkit moz ms o) {
	 @if $vendors{
		@each $vendor in $vendors {
			#{"-" + $vendor + "-" + $property}: #{$value};
		}
	}
	#{$property}: #{$value};
}
/* latin */
@font-face {
	font-family  : 'Roboto';
	font-style   : normal;
	font-weight  : 400;
	src          : local('Roboto-Regular'), url('../fonts/Roboto.woff') format('woff');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

.pointer{
	cursor: pointer;
}

.opacity0{
	opacity: 0;
}

* {
	outline:none;
	-webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -o-user-select: none;
   -ms-user-select: none;
   user-select: none;
 }

* {
	box-sizing : border-box;
	margin     : 0;
	padding    : 0;
	//z-index    : 0;
	font-family: sans-serif;
	color      : $primaryRed;
	//outline: 1px solid red;
	& .bigBlockError {
		margin-bottom: 4px;
		& span {
			color: $primaryRed;
		}
	}
}
img{
	flex: 0 0 auto; /* 2 */
}
.cinema,
.pc {
	& .wc-date-popover {
		width   : 250px;
		position: absolute;
		top     : -147px;
	}
}

.f-container .bigBlockError {
	width        : 100%;
	font-size    : 14px;
	background   : rgba(154, 47, 38, 0.19);
	border       : $primaryRed 1px solid;
	border-radius: 4px;
	padding      : 2px;
	margin-bottom: 4px;

	& span {
		color  : $primaryRed;
		padding: 0 4px;

		&:before {
			content: "";
			font   : normal normal normal 14px/1 FontAwesome;
		}
	}
}

*:focus {
	outline: none;
}

header li.active * {
	color: $primaryGreen;
}

p:not(:last-child) {
	margin-bottom: 20px !important;
}

button,
label {
	user-select        : none;
	-webkit-user-select: none;
}

.justify-start {
	justify-content: flex-start !important;
}

body,
html {
	height                    : 100%;
	width                     : 100%;
	-webkit-overflow-scrolling: touch;
	font-size                 : 16px;
	//overflow: hidden;
}

body {
	-ms-text-size-adjust    : 100%;
	-webkit-text-size-adjust: 100%;
}

.touchScreen {
	//cursor: pointer; //bug safaris phone//si actif fait du bleu sur android phone
}

.lineTitle {
	height: 39px;
}
.fakeBody {
	.figureParent{
		display: inline-block;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		figure {
			display: flex;
			align-items: center;
			flex-direction: column;
			.contentfig{
				flex: 1 1 auto; //absorb the space to have caption aligned
			}
			figcaption{
				& > *:not(.inlineB) {
					display: block;
					font-style: italic;
					padding: 3px;
					text-align: center;
					font-family: Georgia, serif
				}
			}
		}
	}

}
.fakeBody {
	// background: red;
	// transform: translateZ(0);
	min-width: 320px;
	position : relative;
	height   : 100%;
	// overflow : auto;
	width    : 100%;

	&,
	& * {
		font-family: 'Lato', sans-serif;
	}

	& h1,
	& h2,
	h1 > span,
	h2 > span {
		font-family: 'Josefin Sans', sans-serif;
		color      : #264812;
	}

	& h2 {
		margin-bottom: 12px;
	}
}

body:not(.forcePhonePc) #fakeBody{
	overflow-x:hidden; /*for ie11-*/
}

.flex-start {
	align-items    : flex-start !important;
	justify-content: flex-start !important;
}

.fill {
	width: 100%;
}
.fill2 {
	width:calc(100% - 25px);
}
$heightMenuBar: 29px;

#header-and-content {
	min-height: calc(100% - 132px);
}

body .pcToPhoneParent {
	display:none;
	/*margin-left:12px;*/
}
body.forcePhonePc,,body.phone,body.ipad{
	& .pcToPhoneParent{
		display: inline-block;
		display:flex;
	}
}
#eee{
	display: none;
}
#progressbar {
	position          : absolute;
	z-index           : 99999;
	top               : 0;
	left              : 0;
	height            : 3px;
	width             : 100%;
	& > svg {
		width: 100%;
	    height: 100%;
	    position: absolute;
	    top: 0;
	    left: 0;
	}
	//-webkit-transform : translate3d(-100%, 0, 0);
	//transform         : translate3d(-100%, 0, 0);
	//-webkit-transition: all 0.1s ease;
	//transition        : all 0.1s ease;
}

.pointer {
	cursor: pointer;
}

#ajaxContent {
	padding-top: 0;
}

.menuBar {
	background: black;
	width     : 100%;
	position  : absolute;
	top       : 0;
	left      : 0;
	z-index   : 99;
}
/*******************/
/* menu icon transition */
#menuBlock {
	cursor  : pointer;
	position: absolute;
	width   : 92px;
	height  : 30px;
	top     : 0;
	right   : 0;
}

#nav-icon2 {
	width            : 20px;
	height           : 22px;
	-webkit-transform: rotate(0deg);
	transform        : rotate(0deg);
	position         : absolute;
	top              : 6px;
	right            : 7px;
}

.open #nav-icon2 {
	width: 30px;
}

#nav-icon2 span {
	display           : block;
	position          : absolute;
	height            : 3px;
	width             : 50%;
	background        : white;
	opacity           : 1;
	-webkit-transform : rotate(0deg);
	transform         : rotate(0deg);
	-webkit-transition: 0.25s ease-in-out;
	transition        : 0.25s ease-in-out;
}

.open #nav-icon2 span {
	height: 4px;
}

#nav-icon2 span:nth-child(even) {
	left         : 50%;
	border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
	left         : 0;
	border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1),
#nav-icon2 span:nth-child(2) {
	top: 0;
}

#nav-icon2 span:nth-child(3),
#nav-icon2 span:nth-child(4) {
	top: 7px;
}

#nav-icon2 span:nth-child(5),
#nav-icon2 span:nth-child(6) {
	top: 14px;
}

.open #nav-icon2 span:nth-child(1),
.open #nav-icon2 span:nth-child(2) {
	top: 0;
}

.open #nav-icon2 span:nth-child(3),
.open #nav-icon2 span:nth-child(4) {
	top: 6px;
}

.open #nav-icon2 span:nth-child(5),
.open #nav-icon2 span:nth-child(6) {
	top: 10px;
}

.open #nav-icon2 span:nth-child(1),
.open #nav-icon2 span:nth-child(6) {
	-webkit-transform: rotate(45deg);
	transform        : rotate(45deg);
}

.open #nav-icon2 span:nth-child(2),
.open #nav-icon2 span:nth-child(5) {
	-webkit-transform: rotate(-45deg);
	transform        : rotate(-45deg);
}

.open #nav-icon2 span:nth-child(1),
.open #nav-icon2 span:nth-child(5) {
	left: 8px;
}

.open #nav-icon2 span:nth-child(2),
.open #nav-icon2 span:nth-child(6) {
	left: calc(50% + 1px);
}

.open #nav-icon2 span:nth-child(1),
.open #nav-icon2 span:nth-child(2) {
	top: 2px;
}

.open #nav-icon2 span:nth-child(3) {
	left   : -50%;
	opacity: 0;
}

.open #nav-icon2 span:nth-child(4) {
	left   : 100%;
	opacity: 0;
}
/*****/
/*.reload {
	-webkit-transition: 0.25s ease-in-out;
	transition        : 0.25s ease-in-out;
	-webkit-transform : rotate(359deg);
	transform         : rotate(359deg);
}

.spin {
	-webkit-animation: spin 0.5s infinite linear;
	animation        : spin 0.5s infinite linear;
}*/
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform        : rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(359deg);
		transform        : rotate(359deg);
	}
}
@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform        : rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(359deg);
		transform        : rotate(359deg);
	}
}

#menuHelp {
	color                   : white;
	position                : absolute;
	right                   : 35px;
	top                     : 5px;
	font-size               : 17px;
	font-family             : Arial;
	font-weight             : bold;
	-webkit-transform-origin: 0 0;
	transform-origin        : 0 0;
	-webkit-transform       : matrix(1.06, 1.84, 0.54, 2.8, 466px, 482px);
	transform               : matrix(1.06, 1.84, 0.54, 2.8, 466px, 482px);
}
/* unvisited link */
.menuBar a {
	&,
	&:active,
	&:hover,
	&:link,
	&:visited {
		color          : white;
		text-decoration: none;
		display        : block;
	}
}

.noselect {
	-webkit-user-select: none;
	-moz-user-select   : none;
	-ms-user-select    : none;
	user-select        : none;
}

#menuFullScreen {
	display    : none;
	max-height : 100%;
	max-width  : 100%;
	top        : 29px;
	right      : 0;
	position   : absolute;
	text-align : center;
	color      : white;
	font-family: Arial;
	font-weight: bold;
	cursor     : pointer;

	li {
		background: rgb(50, 50, 50);
	}
}

.open #menuFullScreen {
	display: block;
}

#menuFullScreen li {
	border     : solid 1px transparent;
	height     : 30px;
	line-height: 30px;
}

#menuFullScreen a {
	padding-right: 20px;
	padding-left : 20px;
}

#menuFullScreen li:hover {
	border-top   : solid 1px black;
	border-bottom: solid 1px black;
	background   : grey;
}

#menuFullScreen,
#menuFullScreen ul {
	list-style: none;
}

.hide {
	display: none !important;
}

.error {
	display: block;
	color  : red;
}

.success {
	display: block;
	color  : green;
}
@import "external/cuppa-datepicker-styles";
@import "external/font-awesome";
@import "containerClasses";
@import "itemClasses";
@import "pageHeader";
@import "scrollbar/main";
@import "availabilityForm";
@import "mapPosition";
@import "carousel";
@import "popup";
@import "v2";

footer.f-container {
	flex-grow : 0;
	/*padding   : 12px;*/
	position  : static;
	bottom    : 0;
	background: #fcfadf;
	padding   : 20px 0;
	min-height: 132px;
}

.li {
	@include flexbox;
	/*height: 20px;*/
	& * {
		max-width: 100%;
	}
}

footer {
	& .footerDiv {
		flex-grow: 0;
	}

	& .ul,
	& ul {
		align-content: center;
	}

	& .li,
	& li {
		@include flexbox;
		flex-grow      : 0;
		padding        : 0 12px;
		margin-top     : 6px;
		list-style-type: none;
		text-align     : center;
		flex-shrink    : 0;
		margin-bottom  : auto;
	}
}

.page:not(.active) {
	display: none !important;
}
.page.active{
		display: block;/*IE9*/
		display: flex !important;
}

.noLink {
	text-decoration: none;
}

.inlineB {
	display: inline-block;
}

.flag {
	width : 40px;
	height: 21px;
}

.wc-date-container {
	border: transparent;
}
@import "inputs";
@import "bookForm";
@import "activity";
@import "admin";
@import "planning";

.miniaturesBottom {
	margin-top: 30px;
}

.carroussel_v3 .miniaturesBottom {
	margin-top: 0;
}

.phone {
	#sponsors-and-reviews {
		&:last-child {
		//	margin-bottom: 30px;
		}
	}
}

#sponsors-and-reviews {
	padding-bottom:40px;
	justify-content: space-around;
	align-items    : flex-start;

	& > * {
		margin-top   : 0;
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	& .recommended {
		display   : inline-block;
		float     : left;
		width     : 16%;
		height    : auto;
		min-height: 1px;
	}
}

.phone {
	& #sponsors-and-reviews .recommended {
		width: 45%;
	}
}
.ipad{
	& #sponsors-and-reviews .recommended {
		width: 40%;
	}
}

#tripPlug {
	display        : flex;
	flex-wrap      : wrap;
	justify-content: space-around;
}
#sendNewPasswordForm > div.f-container  {
			padding-top: 25px;
		}


.borto-table-parent{
	width:100%;
}

.planningCarousel{

	&.carouselParent .carousel {
		top: 0;
	}

/*	& .borto-table{
		margin-right: -3px;
	}
*/
	& .largeContainerParent,& .realImgContainer,& .carousel,& .largeContainer,.borto-table {
		height: 100%;
	}

	& .borto-table{
		border: solid black 2px;
	}
}

.price {
	& .borto-column{
		width: 25%;
		min-width: 25%;
		max-width: 25%;
		flex-grow: 1;
		height: auto;
		& span{
			width: 100%;
			word-wrap: break-word;
		}
	}
	& .borto-line, &.borto-table{
		height: auto;
	}
}

#TA_percentRecommended10{
	width:115px;
	height:128px;
}
#TA_selfserveprop111{
	width:240px;
	height:430px;
}



/////////////////


.checkAvabilityForm {
	margin-top:0 !important;
}

/*
#header-and-content{
	height:1000px;
}*/

#resizeRunnning{
	display:none;
}
// body.resize{
// 	#resizeRunnning{
// 		position:absolute;
// 		top:0;
// 		left:0;
// 		height:100%;
// 		width: 100%;
// 		background: rgba(0,0,0,0.7);
// 		z-index:101;
// 		text-align:center;
// 		display:table;
// 		& > div{
// 			vertical-align: middle;
// 			display:table-cell;
// 			font-size: 5vw;
// 		}
// 	}
// }


/*body.ieLte11 #beforeCarouselPlanHome + div{
	display:none;
}*/
/*.ieMess{
	display:none;
}
body.ieLte11{
	.ieMess{
		display: flex;
	}
}*/

.carouselParent + .ieMess{
	display: none;
}

body{
		text-rendering: optimizeLegibility;
	 -webkit-font-smoothing: subpixel-antialiased;
	 -webkit-font-smoothing: antialiased;
	 -moz-osx-font-smoothing: grayscale;
}
#top-bar > .li {
	font-size: 12px;
}
header .li, header .li *, header .rightPart li, header .rightPart li *{
		 @include inline-flex;
		 align-items: center;
}

#fakeBody.fakeBody{
	min-height: 100%;
	width: 100%;
	max-width: 100%;
	display: block;
}

/*pour firefox on ne peut pas mettre 0*/
.headerRow,.footerRow{
	height: 1px;
}
.bodyRow,.footerRow,.headerRow{
	display: table-row;
}
#bodyContent{
	display: table-cell;
		vertical-align: middle;
}
#fakeBody2{
	min-height: 100%;
	max-width: 100%;
	width: 100%;
	display: table;
	table-layout: fixed;
}
.widthContent{
	flex-grow: 0 !important;//Safari to respect width
}

body.forcePhonePc.pc #fakeBody {
  width: 1080px;
  max-width: 1080px;
}

/* Pour firefox */
.footerRow{
	height: 144px;
}
.footerRow footer{
	padding: 0;
	width:100%;
	height: 1px;
	vertical-align: middle;
	padding-top: 20px;
	padding-bottom: 20px;
	display: table-cell;
}
#fakeBody2{
	height: 1px;
}
