/* form starting stylings ------------------------------- */
.phone .input-group {
	margin-bottom: 30px;
}

.input-group {
	position     : relative;
	margin-bottom: 45px;

	& input {
		font-family  : monospace;
		font-family  : monospace;
		font-size    : 18px;
		padding      : 10px 10px 10px 5px;
		display      : block;
		width        : 100%;
		border       : none;
		border-bottom: 1px solid $ternaryGreen;
		background   : none;
	}

	& input:focus {
		outline: none;
	}

	& label {
		font-size         : 18px;
		font-weight       : normal;
		position          : absolute;
		left              : 5px;
		top               : 10px;
		transition        : 0.2s ease all;
		-moz-transition   : 0.2s ease all;
		-webkit-transition: 0.2s ease all;
		width             : calc(100% - 5px);
		text-align        : center;
		pointer-events    : none;
	}

	& label > span {
		color         : $secondaryGreed;
		pointer-events: none;
		width         : 100%;
		text-align    : center;
	}
	/* active state */
	& input:focus ~ label,
	input.isNotEmpty ~ label {
		top      : -20px;
		font-size: 14px;

		& > span {
			color: $primaryGreen;
		}
	}
	//
	// input:invalid ~ label {
	// 	top      : -20px;
	// 	font-size: 14px;
	//
	// 	& > span {
	// 		color: $primaryGreen;
	// 	}
	// }
	//
	/* BOTTOM BARS ================================= */
	& .bar {
		position : relative;
		display  : block;
		max-width: 300px;
	}

	& .bar:after,
	.bar:before {
		content           : '';
		height            : 2px;
		width             : 0;
		bottom            : 1px;
		position          : absolute;
		background        : $primaryGreen;
		transition        : 0.2s ease all;
		-moz-transition   : 0.2s ease all;
		-webkit-transition: 0.2s ease all;
	}

	& .bar:before {
		left: 50%;
	}

	& .bar:after {
		right: 50%;
	}
	/* active state */
	& input:focus ~ .bar:after,
	input:focus ~ .bar:before {
		width: 50%;
	}
	/* HIGHLIGHTER ================================== */
	& .highlight {
		position      : absolute;
		height        : 60%;
		//width   : 100px;
		top           : 25%;
		left          : 0;
		pointer-events: none;
		opacity       : 0.5;
	}
	/* active state */
	& input:focus ~ .highlight {
		-webkit-animation: inputHighlighter 0.3s ease;
		-moz-animation   : inputHighlighter 0.3s ease;
		animation        : inputHighlighter 0.3s ease;
	}
}

#sendNewPasswordForm,
#sendPasswordForm {
	max-width     : 300px;
	margin-left   : auto;
	margin-right  : auto;
	flex-direction: column;
	display       : flex;
}

#sendNewPasswordButton {
	max-width   : 300px;
	margin-left : auto;
	margin-right: auto;
	cursor      : pointer;
}

.bigButton {
	border        : 1px solid;
	color         : $primaryGreen;
	border-color  : $primaryGreen;
	border-radius : 3px;
	min-width     : 90px;
	height        : 52px;
	font-size     : 18px;
	background    : rgba(59,112,28,.2);
	text-transform: uppercase;
	padding-left  : 12px;
	padding-right : 12px;
	text-align    : center;
	flex-direction: row;
	overflow      : hidden;
	cursor        : pointer;

	& > span {
		display   : inline-block;
		text-align: center;
		width     : 100%;
	}

	&:hover {
		border-color: rgba(59,112,28,.5);
	}

	&[type="submit"] span {
		// height:20px;
		margin: auto;
	}
}

.phone .bigButton {
	width: 100%;
}
/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from {
		background: $primaryGreen;
	}

	to {
		width     : 0;
		background: transparent;
	}
}
@-moz-keyframes inputHighlighter {
	from {
		background: $primaryGreen;
	}

	to {
		width     : 0;
		background: transparent;
	}
}
@keyframes inputHighlighter {
	from {
		background: $primaryGreen;
	}

	to {
		width     : 0;
		background: transparent;
	}
}

.ripple {
	position: relative;
	overflow: hidden;
}

.ripple:after {
	content            : "";
	display            : block;
	position           : absolute;
	width              : 100%;
	height             : 100%;
	top                : 0;
	left               : 0;
	pointer-events     : none;
	background-image   : radial-gradient(circle,#000 10%,transparent 10.01%);
	background-repeat  : no-repeat;
	background-position: 50%;
	transform          : scale(10,10);
	opacity            : 0;
	transition         : transform 0.5s,opacity 1s;
}

.ripple:active:after {
	transform : scale(0,0);
	opacity   : 0.2;
	transition: 0s;
}
