.ipad #map,
.phone #map {
	padding-left : 0;
	padding-right: 0;

	& iframe {
		padding-bottom: 20px;
	}
}

.touchScreen {
	#map {
		&:after,
		&:before {
			display: none;
		}
	}
}

.ipad,
.phone {
	& #map:before {
		margin: 0 0 0px;
	}
}
.butt1{
    background: #00adee;
    color: #fff;
    width: 200px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    text-align: center;
    top: 50%;
    left: 50%;
    z-index: 12;
		opacity: 0;
}
#map {
	width        : 100%;
	height       : 510px;
	cursor       : pointer;
	position     : relative;
	overflow     : hidden;
	border-radius: none;
	margin-bottom: 55px;

	& iframe {
		top   : 0;
		left  : 0;
		width : 100%;
		height: 510px;

		& body {
			margin: 0;
		};
	}

	&:after,
	&:before {
		transition: all 0.25s ease;
		position  : absolute;
		display   : block;
	}

	&:before {
		content   : '';
		top       : 0;
		right     : 0;
		bottom    : 0;
		left      : 0;
		background: #000;
		opacity   : 0;
		z-index   : 10;
		margin    : 0;
	}
	//
	// &:after {
	// 	content      : 'Click to Interact';
	// 	background   : #00adee;
	// 	color        : #fff;
	// 	width        : 200px;
	// 	height       : 30px;
	// 	line-height  : 30px;
	// 	border-radius: 15px;
	// 	text-align   : center;
	// 	top          : 50%;
	// 	margin-top   : -15px;
	// 	left         : 50%;
	// 	margin-left  : -100px;
	// 	z-index      : 1;
	// 	opacity      : 0;
	// }


	&:hover:before {
		opacity: 0.2;
	}

	&:hover .butt1{
		opacity: 1;
	}

	&.interact {
		.butt1,
		&:before {
			display: none;
		}
	}
}

.ipad #map,
.phone #map {
	height    : 494px;
	margin-top: 0;
}


#mapAbsolute{
	background: transparent;
	padding-bottom: 0;
}
