header {
	background: #d8d5b1;

	& .li {
		height: 20px;
		& > a {
			display:table;
			& > *{
				dipslay: table-cell;
				vertical-align: middle;
			}
		}
	}

	& a:hover,
	.pointer > i:hover {
		color: $primaryGreen;

		& span {
			color: $primaryGreen;
		}

		& i {
			color: $primaryGreen;
		}
	}
}

#top-bar {
	font-weight: 700;
	flex-grow  : 0;
	flex-shrink: 0;
	font-size  : 12px;


	& a {
		text-decoration: none;
		text-transform : capitalize;
	}

	& i {
		font-size   : 14px;
		margin-right: 6px;
		line-height : 20px;
	}

	& > div {
		min-height     : 38px;
		justify-content: flex-end;

		&.contact-infos {
			justify-content: flex-start;
			/*min-width      : 410px;*/
			/*bad for ie*/
			& > *:first-child {
				padding-left: 12px;
				//margin      : 0;
			}
		}

		& > * {
			flex-grow   : 0;
			margin-right: 12px;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	#langChoice {
		margin-right: 10px;
		width          : 30px;
		z-index        : 1;
		flex-direction : column;
		align-items    : center;
		justify-content: center;
		text-align     : center;

		&.active2 a {
			display: flex;
		}

		& .f-item {
			margin-bottom: 0;
			padding      : 4px;
			align-items  : center;
			flex-shrink  : 0;
			min-height   : 20px;
			flex-grow    : 0;
		}

		& a {
			padding-left : 5px;
			display      : none;
			margin-bottom: 5px;
			order        : 1;
			background   : $primaryRed;
			border-radius: 3px;
			width        : 100%;
			text-align   : center;
			color        : #d8d5b1;
			margin-top   : 3px;

			&:hover {
				background: $primaryGreen;
			}

			&.active {
				display   : flex;
				order     : 0;
				margin-top: -2px;
			}
		}
	}
}

.rightPart {
	& > * {
		height: 20px;
	}
	height: 40px;
}

.ipad,
.phone {
	& #top-bar {
		& i {
			font-size: 20px;
		}

		& > div {
			min-width: auto;
		}
	}

	& .no-mobile {
		display: none;
	}
}

#page-header {
	flex-shrink: 0;
	font-family: sans-serif;
	min-height : 100px;
	max-height : 250px;
	background : #fcfadf;
	flex-grow  : 0;

	& .logoContainer {
		height    : 150px;
		padding   : calc(20px);
		overflow-x: hidden;
		overflow-y: hidden;
		/*ie*/
		& img {
			height: 100%;
			margin: 0 17px 0 0;
			width : auto;
		}
	}
}

#page-title {
	// position: absolute;
	// top     : 0;
	// width   : 100%;
	// height  : 202px;
	//width    : 35%;
	//min-width    : 273px;
	//flex-grow    : 0.2;
	margin-top   : 10px;
	margin-bottom: 10px;

	& div {
		text-transform: uppercase;
		white-space   : nowrap;
		align-content : center;
		font-size     : xx-large;
		// position      : absolute;
		// left          : auto;
		// right         : 64%;
		// margin-left   : 6px;
	}
}

.cinema,
.pc {
	& #page-title h1 {
		flex-wrap: nowrap;
	}
}

.phone #page-title {
	flex-grow    : 0;
	padding-left : 10px;
	padding-right: 10px;

	& h1 {
		font-size: 150%;
	}
}

#header-aside {
	justify-content: flex-end;
	align-items    : flex-start;
	padding        : 6px;

	& > * {
		margin: 0 6px;
	}
}

.ipad {
	& nav {
		& li {
			& a {
				font-size : 14pt;
			}
		}
	}
}
.phone nav {
	min-width: auto;
	width    : 100% !important;
	padding  : 6px;

	& ul {
		flex-wrap: wrap;
	}

	& li {
		margin: 0 6px;
	}
}

nav {
	padding  : 25px 20px;
	flex-grow: 0 !important;
	//width    : 60% !important;
	//min-width: 530px;
	& li {
		margin         : 0 12px;
		list-style-type: none;
		height         : 18px;

		& a {
			text-decoration: none;
			color          : black;
			text-transform : uppercase;
			font-family    : "Gotham A", "Gotham B";
			font-weight    : 700;
			font-size      : 12px;
			height         : 18px;
		}
	}
}

.cinema,.pc {
	background: red;
	& nav {
		font-size: 16px;
		& li {
			& a {
				font-size: 16px !important;
			}
		}
	}
}
@media (max-width: 1090px) {
	header .contact-infos a {
		& i {
			font-size: 20px !important;
		}

		& span {
			display: none;
		}
	}
}
