body{
				margin: 0;
				padding: 0;
			}
			.borto-table{
				height:15cm;
				width: 100%;
/*				min-width: 20cm;
*/				background:yellow;
				border: solid 1px black; 
				display: block;
				margin-top: 10px;
			}
			.carousel .borto-table{
				margin-top: 0px;
				
			}
			.carousel .borto-table-parent{
				width: auto;
			}
			@media print {
				.borto-table{
					height: calc(100% ) !important;
					margin: 10px 0 0 0;
				}
				.borto-column{
	    			min-width: calc(100% / 8 - 2px);
	    		}
			}
			.borto-table *{
				color:black;
			}
			.borto-line{
				display: flex;
				width: 100%;
				background: blue;
				height:	calc(100% / 10);
			}
			.borto-column{
				display: flex;
				flex: 0 0;
    			min-width: calc(100% / 8);
				width: 1px;
				background: whitesmoke;
				border: solid 1px black;
				text-align: center;
				justify-content: center; /* center items vertically, in this case */
			    align-items: center;     /* center items horizontally, in this case */
			}
			.borto-pres{
				background: #c0d8c4
			}

			.borto-line.borto-first-line .borto-column{
				background: #778a52
			}
			div[is_paid="0"]{
				background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
			}