.parentPopup{
	position  : fixed;
	width     : 100%;
	height    : 100%;
	top       : 0;
	left      : 0;
	background: rgba(0,0,0,0.8);
	z-index   : 1;
	overflow: auto;
}
.contentPopup {
	padding      : 40px;
	background   : rgba(0,0,0,.42);
	border-radius: 13px;
	max-width    : 450px;
	
	& h2 {
		color: white;
	}

	& input:first-child {
		margin-bottom: auto;
		color        : white;
	}

	& textarea {
		min-height   : 200px;
		max-height   : 450px;
		max-width    : 100%;
		padding      : 12px;
		font-size    : 18px;
		color        : black;
		border-radius: 4px;
	}

	& button,
	textarea {
		margin-bottom: 12px;
	}

	& form {
		justify-content: space-between;
	}

	& .bigButton {
		color           : white;
		border-color    : white;
		background-color: rgba(255, 255, 255, .25);
	}
}
