body[data-current-page]{
	&{
		background:url('../img/vigne_1.jpg');
		background-size: cover;
	}

	&.phone,&.ipad{
			background-size: auto calc(100% + 72px); //dont know why but 100% is not enought
	}

	&.ipad{
		font-size: 22px;
	}

	#fakeBody{
		/*background:rgba(252,250,223,.2);
		background:rgba(252,250,223,.3);*/
	}

	#page-header{
		background: rgba(252,250,223,0.7);
	}

	header{
		background:rgba(216,213,177,0.7);
		background:rgba(210,208,171,0.8);
	}
	footer{
		background:rgba(216,213,177,0.85);
	}

	.whiteTransBg{
		background:rgba(255,255,226,.85);
	}

	.page-content:after{
		background: transparent;
	}
}
