<div id="TA_cdsratingsonlynarrow201" class="TA_cdsratingsonlynarrow">
			<ul id="b1rEYmbv0n" class="TA_links r1pwTD9d1P">
			<li id="fCJsCrQ" class="TXz0nAIu">
			<a target="_blank" href="https://www.tripadvisor.com/"><img src="https://www.tripadvisor.com/img/cdsi/img2/branding/tripadvisor_logo_transp_340x80-18034-2.png" alt="TripAdvisor"/></a>
			</li>
			</ul>
</div>

<!-- <script async src="https://www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=834&amp;locationId=1903943&amp;lang=fr&amp;rating=true&amp;nreviews=5&amp;writereviewlink=true&amp;popIdx=false&amp;iswide=false&amp;border=true&amp;display_version=2" data-loadtrk onload="this.loadtrk=true"></script> -->

<script type="text/javascript">

	try{
		var $0
		if(window.top){
			var $ = window.top.$
			$0 = window.top.$0
		}
		var originalSet = Object.getOwnPropertyDescriptor(Element.prototype, 'innerHTML').set;
		var $tripAd2 = document.getElementById('TA_cdsratingsonlynarrow201')
		Object.defineProperties($tripAd2,{
		  innerHTML: {
		     set: function(new_value) {
					 debugger
						//Call the original setter
						var old_resize = window.resizeRatingsOnlyWidget
						window.resizeRatingsOnlyWidget = function(){
							debugger

							old_resize.apply(this,arguments)
							$tripAd2.querySelector('*[onload]').removeAttribute("onload");
							if($0){
									$.cache.$tripAd2 = $tripAd2
									$.showTripAdvisor2()
							}
						}
			 			var ret = originalSet.call(this, new_value);
						return ret;
		     }
		   }
		})
	}catch(e){
		console.error('failled tripad2')
	}

</script>
<script async src="https://www.jscache.com/wejs?wtype=cdsratingsonlynarrow&amp;uniq=201&amp;locationId=1903943&amp;lang=en_US&amp;border=true&amp;display_version=2" data-loadtrk onload="this.loadtrk=true"></script>

</div>













<!-- trip advisor plugin caché jusqu'a déplacement dans la page d'acceuil-->
<div class="page-content f-container wrap fill js-externalLink" id="sponsors-and-reviews">
	<div id="TA_percentRecommended10" class="TA_percentRecommended">
		<link rel="stylesheet" href="data:text/css,@import%20url%28%27%20https%3A//static.tacdn.com/css2/widget/cdswidPER-v2463553986a.css%20%27%29%3B">
		<link rel="stylesheet" href="data:text/css,@import%20url%28%27%20https%3A//static.tacdn.com/css2/widget/cdswidSSP-v21191968410a.css%20%27%29%3B">

		<div id="TA_cdsratingsonlynarrow201" class="widPER white  border "> <div id="CDSWIDPERBLOCK"> <div id="CDSWIDPERTOP"> <div id="CDSWIDPERPER"> <div id="CDSWIDPERNUM">77</div> <div id="CDSWIDPERSYM">%</div> </div> <img id="CDSWIDPERIMG" src="https://static.tacdn.com/img2/widget/thumb_30x35.png" style="height:29px" alt="Motel a Vigna, Corte, Haute-Corse"> </div> <div id="CDSWIDPERLINK" class="widPERLINK"> <a target="_blank" onclick="ta.cds.handleTALink(20505,this);return true;" href="https://www.tripadvisor.com/Hotel_Review-g635788-d1903943-Reviews-Motel_a_Vigna-Corte_Haute_Corse_Corsica.html" rel="nofollow">Motel a Vigna</a> <img src="https://www.tripadvisor.com/img/cdsi/partner/transparent_pixel-20505-2.gif" height="1" width="1"> </div> </div> <div class="widPERTALOGO"> <a target="_blank" href="https://www.tripadvisor.com/"><img src="https://www.tripadvisor.com/img2/widget/logo_shadow_109x26.png" alt="TripAdvisor" class="widPERIMG" id="CDSWIDPERLOGO"></a> </div> </div><!--/ cdsPERWidget-->
	</div>


	<img class="recommended geo" src="../img/geoguide.jpg">
	<img class="recommended lonely" src="../img/lonely.jpg">
	<img class="recommended rout" src="../img/routard.jpg">
	<style>
		#sponsors-and-reviews > .TA_selfserveprop{
				margin-top: -20px;
		}
		@font-face {
		    font-family: TripAdvisor_Regular;
		    src: url('/noIndex/TripAdvisor_Regular.woff2');
		}
		.ui_bubble_rating:before, .ui_bubble_rating:after {
    		display: inline-block;
		    font-style: normal;
		    font-weight: normal;
		    font-variant: normal;
		    font-size: inherit;
		    line-height: 1;
		    font-family: "TripAdvisor_Regular"!important;
		    -ms-transform: rotate(-0.001deg);
		    -webkit-font-smoothing: antialiased;
		    -moz-osx-font-smoothing: grayscale;
		    speak: none;
		}
		.ui_bubble_rating.bubble_4:after, .ui_bubble_rating.bubble_40:after {
		    content: "\e00b\e00b\e00b\e00b\e00d";
		}
	</style>
	<div >
			<span style="position: :absolute;margin-top: -5px;display: inline-block;font: normal 10px Arial,Verdana,'Bitstream Vera Sans',Helvetica,sans-serif;font-style: normal;font-variant-ligatures: normal;font-variant-caps: normal;font-variant-numeric: normal;font-variant-east-asian: normal;ne-height: 10px;font-weight: normal;font-stretch: normal;font-size: 10px;line-height: normal;font-family: Arial, Verdana, "Bitstream Vera Sans", Helvetica, sans-serif;">Echec de l'actualisation des données,<br> ceci est une archive de 2018 de trip advisor.</span>
		<img src="https://p.travelsmarter.net/api/usersync/seed.gif?api_key=gqLWKHSnTxes4YmmtgWkqA&amp;loc_id=1903943&amp;publisher_browser_id=8aae0dfbaa1d5b74b388a5d74adb1e3b04e84c83&amp;cb=1541534295483&amp;part=true" alt="" width="0" height="0" hidden="" style="display: none !important;"><img src="https://p.travelsmarter.net/api/usersync/end.gif?api_key=gqLWKHSnTxes4YmmtgWkqA&amp;loc_id=1903943&amp;publisher_browser_id=8aae0dfbaa1d5b74b388a5d74adb1e3b04e84c83&amp;cb=1541534295483&amp;term=1" alt="" width="0" height="0"><img src="https://p.travelsmarter.net/api/usersync/end.gif?api_key=gqLWKHSnTxes4YmmtgWkqA&amp;loc_id=1903943&amp;publisher_browser_id=8aae0dfbaa1d5b74b388a5d74adb1e3b04e84c83&amp;cb=1541534295483&amp;term=2" alt="" width="0" height="0"> <div id="CDSWIDSSP" class="widSSP widSSPnarrow" style="width: 240px;"> <div class="widSSPData" style="border: 1px solid #00a680;"> <div class="widSSPBranding"> <dl> <dt>
<a target="_blank" href="https://www.tripadvisor.fr/"><img src="https://www.tripadvisor.fr/img/cdsi/img2/branding/150_logo-11900-2.png" alt="TripAdvisor"></a> </dt> <dt class="widSSPTagline">Mieux s'informer.&nbsp;Mieux réserver.&nbsp;Mieux voyager.</dt> </dl> </div><!--/ cdsBranding--> <div class="widSSPComponent"> <div class="widSSPSummary"> <dl> <a target="_blank" href="https://www.tripadvisor.fr/Hotel_Review-g635788-d1903943-Reviews-Motel_a_Vigna-Corte_Haute_Corse_Corsica.html" onclick="ta.cds.handleTALink(11900,this);return true;" rel="nofollow"> <dt class="widSSPH18">Motel a Vigna</dt> </a> </dl> </div><!--/ cdsSummary--> </div><!--/ cdsComponent--> <div class="widSSPComponent widSSPOptional"> <div class="widSSPTrvlRtng"> <dl> <dt class="widSSPH11">Note des voyageurs TripAdvisor</dt> <dd> <div class="widSSPOverall"> <span class="ui_bubble_rating bubble_40"></span> <div>Sur la base de <b>15</b> avis de voyageurs</div> </div><!--/ overall --> </dd> </dl> </div> </div><!--/ cdsComponent --> <div class="widSSPComponent widSSPOptional"> <dl class="widSSPReviews"> <dt class="widSSPH11">Derniers avis de voyageurs</dt> <dd class="widSSPOneReview"> <ul class="widSSPBullet"> <li> <span class="widSSPDate">13 sept. 2018:</span> <span class="widSSPQuote">“Endroit agréable et très propre”</span> </li> <li> <span class="widSSPDate">12 juil. 2018:</span> <span class="widSSPQuote">“Endroit agréable”</span> </li> <li> <span class="widSSPDate">15 sept. 2016:</span> <span class="widSSPQuote">“studio très agréable et bien conçu”</span> </li> <li> <span class="widSSPDate">30 juil. 2016:</span> <span class="widSSPQuote">“Agréable semaine !”</span> </li> <li> <span class="widSSPDate">16 oct. 2014:</span> <span class="widSSPQuote">“A recommander!”</span> </li> </ul><!--/ bullet--> </dd><!--/ hReview--> </dl> </div> <div class="widSSPAll"> <ul class="widSSPReadReview"> <li><a href="https://www.tripadvisor.fr/Hotel_Review-g635788-d1903943-Reviews-Motel_a_Vigna-Corte_Haute_Corse_Corsica.html" id="allreviews" onclick="ta.cds.handleTALink(11900,this);window.open(this.href, 'newTAWindow', 'toolbar=1,resizable=1,menubar=1,location=1,status=1,scrollbars=1,width=800,height=600'); return false" rel="nofollow">Lire les avis</a></li> </ul> <ul class="widSSPWriteReview"> <li><a href="https://www.tripadvisor.fr/UserReview-g635788-d1903943-Motel_a_Vigna-Corte_Haute_Corse_Corsica.html" id="writereview" onclick="ta.cds.handleTALink(11900,this);window.open(this.href, 'newTAWindow', 'toolbar=1,resizable=1,menubar=1,location=1,status=1,scrollbars=1,width=800,height=600'); return false" rel="nofollow">Écrire un avis</a></li> </ul> </div><!--/ cdsAll--> <div class="widSSPLegal">© 2018 TripAdvisor LLC</div><!--/ cdsLegal--> </div><!--/ cdsData--> </div><!--/ CDSPOP.cdsBx-->
	</div>
	<iframe  scrolling="no" frameBorder="0" style="width:255px; height: 365px;" id="frame_tripadvisor"  src="about:blank" target="_blank"></iframe>

	<!-- <script async src="https://www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=834&amp;locationId=1903943&amp;lang=fr&amp;rating=true&amp;nreviews=5&amp;writereviewlink=true&amp;popIdx=false&amp;iswide=false&amp;border=true&amp;display_version=2" data-loadtrk onload="this.loadtrk=true"></script> -->
<div style="position:absolute;">
	<!-- left: -99999px -->
	<iframe id="frame_tripadvisor2" src="about:blank"  target="_blank"></iframe>
</div>

<script type="text/whenDocumentReady">
		$.showTripAdvisor1 = function(){
			var visible_tripad = $0('.page.active #TA_selfserveprop834')
			if(visible_tripad){
					visible_tripad.outerHTML = $.cache.$tripAd1.outerHTML;
			}
		}
		// $.showTripAdvisor2 = function(){
		// 	var visible_tripad = window.top.$0('#TA_cdsratingsonlynarrow201')
		// 	if(visible_tripad != $.cache.$tripAd2){
		// 			visible_tripad.after($.cache.$tripAd2);
		// 			visible_tripad.remove()
		// 	}
		// }
		if($.cache.$tripAd1){
			debugger
			$.showTripAdvisor1()
			// $.showTripAdvisor2()
		}else{
			var f = $0('#frame_tripadvisor').src = '../noIndex/tripadvisor.html'
		}
		// if($.cache.$tripAd2){
		// 	$.showTripAdvisor2()
		// 	// $.showTripAdvisor2()
		// }else{
		// 	var f = $0('#frame_tripadvisor2').src = '../noIndex/tripadvisor2.html'
		// }

</script>

</div>
