.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.051758;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.051758;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.795410;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.689453;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.051758;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.709473;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.979004;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.236033,0.000000,-0.082391,0.236033,0,0);-ms-transform:matrix(0.236033,0.000000,-0.082391,0.236033,0,0);-webkit-transform:matrix(0.236033,0.000000,-0.082391,0.236033,0,0);}
.m1{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
.sc2{text-shadow:-0.015em 0 rgb(0,128,0),0 0.015em rgb(0,128,0),0.015em 0 rgb(0,128,0),0 -0.015em  rgb(0,128,0);}
.sc0{text-shadow:-0.015em 0 rgb(128,0,0),0 0.015em rgb(128,0,0),0.015em 0 rgb(128,0,0),0 -0.015em  rgb(128,0,0);}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
.sc2{-webkit-text-stroke:0.015em rgb(0,128,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em rgb(128,0,0);text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:43.392000px;}
.fc1{color:rgb(0,128,0);}
.fc0{color:rgb(128,0,0);}
.fs3{font-size:48.000000px;}
.fs2{font-size:56.000000px;}
.fs1{font-size:64.000000px;}
.fs0{font-size:101.680587px;}
.y0{bottom:13.500000px;}
.y5{bottom:14.775009px;}
.y6{bottom:17.500052px;}
.y4{bottom:32.338009px;}
.y1c{bottom:44.091003px;}
.y3{bottom:51.423008px;}
.y2{bottom:71.748009px;}
.y1b{bottom:150.773987px;}
.y1a{bottom:169.023987px;}
.y19{bottom:187.273987px;}
.y18{bottom:223.773987px;}
.y17{bottom:242.023987px;}
.y16{bottom:278.523987px;}
.y15{bottom:296.773987px;}
.y14{bottom:351.523956px;}
.y13{bottom:370.608978px;}
.y12{bottom:389.693970px;}
.y11{bottom:408.778992px;}
.y10{bottom:445.278992px;}
.yf{bottom:481.778976px;}
.ye{bottom:500.028976px;}
.yd{bottom:536.528976px;}
.yc{bottom:573.028976px;}
.yb{bottom:591.278976px;}
.ya{bottom:627.778976px;}
.y9{bottom:646.028976px;}
.y8{bottom:663.760975px;}
.y7{bottom:698.497975px;}
.y1{bottom:730.300019px;}
.h8{height:34.875000px;}
.h7{height:48.453125px;}
.h5{height:50.125000px;}
.h4{height:55.375000px;}
.h3{height:87.977539px;}
.h2{height:92.900009px;}
.h6{height:712.599976px;}
.h1{height:819.500000px;}
.h0{height:841.900024px;}
.w1{width:560.000000px;}
.w2{width:565.200000px;}
.w3{width:565.900012px;}
.w0{width:595.299988px;}
.x8{left:12.950000px;}
.x0{left:16.500000px;}
.x2{left:143.580005px;}
.x3{left:154.826007px;}
.xb{left:158.117007px;}
.xc{left:163.489001px;}
.x9{left:169.414004px;}
.x7{left:177.649005px;}
.x1{left:180.112994px;}
.x4{left:183.576007px;}
.x6{left:189.950000px;}
.xa{left:245.629992px;}
.x5{left:296.150012px;}
.xd{left:331.550006px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:57.856000pt;}
.fs3{font-size:64.000000pt;}
.fs2{font-size:74.666667pt;}
.fs1{font-size:85.333333pt;}
.fs0{font-size:135.574116pt;}
.y0{bottom:18.000000pt;}
.y5{bottom:19.700012pt;}
.y6{bottom:23.333403pt;}
.y4{bottom:43.117345pt;}
.y1c{bottom:58.788005pt;}
.y3{bottom:68.564011pt;}
.y2{bottom:95.664012pt;}
.y1b{bottom:201.031982pt;}
.y1a{bottom:225.365316pt;}
.y19{bottom:249.698649pt;}
.y18{bottom:298.365316pt;}
.y17{bottom:322.698649pt;}
.y16{bottom:371.365316pt;}
.y15{bottom:395.698649pt;}
.y14{bottom:468.698608pt;}
.y13{bottom:494.145304pt;}
.y12{bottom:519.591960pt;}
.y11{bottom:545.038656pt;}
.y10{bottom:593.705322pt;}
.yf{bottom:642.371969pt;}
.ye{bottom:666.705302pt;}
.yd{bottom:715.371969pt;}
.yc{bottom:764.038635pt;}
.yb{bottom:788.371969pt;}
.ya{bottom:837.038635pt;}
.y9{bottom:861.371969pt;}
.y8{bottom:885.014633pt;}
.y7{bottom:931.330634pt;}
.y1{bottom:973.733358pt;}
.h8{height:46.500000pt;}
.h7{height:64.604167pt;}
.h5{height:66.833333pt;}
.h4{height:73.833333pt;}
.h3{height:117.303386pt;}
.h2{height:123.866679pt;}
.h6{height:950.133301pt;}
.h1{height:1092.666667pt;}
.h0{height:1122.533366pt;}
.w1{width:746.666667pt;}
.w2{width:753.600000pt;}
.w3{width:754.533349pt;}
.w0{width:793.733317pt;}
.x8{left:17.266666pt;}
.x0{left:22.000000pt;}
.x2{left:191.440006pt;}
.x3{left:206.434676pt;}
.xb{left:210.822676pt;}
.xc{left:217.985335pt;}
.x9{left:225.885339pt;}
.x7{left:236.865340pt;}
.x1{left:240.150659pt;}
.x4{left:244.768009pt;}
.x6{left:253.266666pt;}
.xa{left:327.506657pt;}
.x5{left:394.866683pt;}
.xd{left:442.066675pt;}
}
